/*
Theme Name: alterna custom
Theme URI: http://webcreators.info/
Version: 6.3.4
Description:A powerful and clean theme.
Author URI: http://webcreators.info
Template: alterna

Copyright: (c) 2009-2014 ThemeFocus.  

License: GNU General Public License v2.0 PHP under GNU General Public License, JS and CSS under ThemeForest License Terms
License URI: http://themeforest.net/licenses/regular_extended

Tags: black, green, white, orange, red
*/
/*Bootstrap 
h1, h2, h3, h4, h5, h6 { margin: 10px 0; font-family: inherit; font-weight: bold; line-height: 20px; color: inherit; text-rendering: optimizelegibility; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-weight: normal; line-height: 1; color: #999999; }
h1, h2, h3 { line-height: 40px; }
h1 { font-size: 38.5px; }
h2 { font-size: 31.5px; }
h3 { font-size: 24.5px; }
h4 { font-size: 17.5px; }
h5 { font-size: 14px; }
h6 { font-size: 11.9px; }
h1 small { font-size: 24.5px; }
h2 small { font-size: 17.5px; }
h3 small { font-size: 14px; }
h4 small { font-size: 14px; }*/
 @import url('../alterna/style.css');
/* 	----------------------------------------------------------------------------------------------	
										0 - CUSTOM STYLE OVER																												
	----------------------------------------------------------------------------------------------	*/


/* 	----------------------------------------------------------------------------------------------	
										A - GENERAL STYLE																												
	----------------------------------------------------------------------------------------------	*/
body { font-family: "Lucida Grande", "segoe UI", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, Verdana, Arial, sans-serif; color: #666; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; font-family: "Lucida Grande", "segoe UI", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, Verdana, Arial, sans-serif; color: #424A59; }
.font14 ,
#reply-title h3{ font-size: 14px; line-height: 24px; margin-top: 1.5em;}

.alterna-line {border-bottom: 1px solid #f2f2f2;}
.alterna-line.dashed {border-bottom: 1px dashed #e8e8e8;}
a {color: #424A59;}
a:hover {color: #18AEBE;}
/* global wrap style */
.footer-content {border-top: 6px #9BACC7/* --薄紫--*/ solid;background:#404040;}

/* 	----------------------------------------------------------------------------------------------	
										B - LAYOUT																													
	----------------------------------------------------------------------------------------------	*/
/* header top bar */
#header-topbar { background: #fff; border-bottom: 1px solid #F2F5F7;}
#header-topbar-left-content > ul > li, #header-topbar-right-content > ul > li { border-right: 1px solid #eee;}
/* header form */
.searchform .sf-searchsubmit { background-color: #9BACC7;/* --薄紫--*/}

.header-style-4 .alterna-nav-menu > li:hover > a {
background: #fbfbfb;
color: #424A59; /*----紺----*/
border-bottom: 2px solid #9BACC7;/* --薄紫--*/
}
.header-style-4 .alterna-nav-menu > li.current-menu-item > a, .header-style-4 .alterna-nav-menu > li.current-menu-ancestor > a {border-bottom: 2px solid #9BACC7;/* --薄紫--*/ color: #424A59; /*----紺----*/}
.header-style-4 .alterna-nav-menu .sub-menu {border-top: 2px solid #9BACC7;/* --薄紫--*/}
/* = Other Element Style
-------------------------------------------------------------- */
/* line style */
.line {float:left;width:100%;margin-bottom:10px;}
.left-line {float:left;width:20%;height:2px;background:#9BACC7;/* --薄紫--*//*#18AEBE;*/ /* ----水色----- */}
/* = Page Header Style
-------------------------------------------------------------- */
#page-header {position:relative;background:#fdfdfd;}
#page-header .title h2 { color: #424A59; /*----紺----*/font-size: 24px; font-weight: 400;}
#page-header .title h3 { color: #848A96; font-size: 14px; font-weight: 400;}

/* 	----------------------------------------------------------------------------------------------	
										C - PAGE STYLES																											
	----------------------------------------------------------------------------------------------	*/
/* = Post , Blog
-------------------------------------------------------------- */
.entry-left-side .post-type , .single-post .post-type {background: #424A59; /*----紺----*/}
.entry-right-side .title h3 ,
.single-post .post-title h3 {font-size: 24px;margin: 0px;line-height: 30px;color: #424A59; /*----紺----*/float:left;}
.post-meta,
.post-meta a,
.comment-meta ,
.comment-meta a ,
.search-post-mate ,
.search-post-mate a {color:#424A59 !important;font-family:'Open Sans',Arial,Helvetica,sans-serif;font-size:11px;}
.post-meta i , .search-post-mate i {font-size:14px;}
.post-meta a:hover , 
.comment-meta a:hover ,
.search-post-mate a:hover {color:#18AEBE /* ----水色----- */ !important;}

.single-post .post-tags {margin: 15px 0px;padding: 0 0 0 10px;position: relative;}
.single-post .post-tags .post-tags-icon {
	left: 0px;margin-top: 0;position: relative;border-radius: 0;background: #fff;;
	padding: 0;float: left;height: 14px;width: 14px;color:#424A59;
}
.single-post .post-meta > div { margin-right: 1em;}
.single-pagination a[rel='prev'] {font-size: 14px;}
.single-pagination a[rel='next'] {font-size: 14px;}
/* Comment */
.comment-list .comment-item .comment-content {background-color: #fdfdfd;border: 1px #f0f0f0 solid;margin-left: 50px;min-height: 30px;padding: 5px 10px;}

.comment-list .comment-reply-link {color: #ffffff;padding: 2px 6px;background:#424A59; /*----紺----*/font-size: 11px;}
/* post with ajax */
.post-ajax-element .post-type {background:#424A59; /*----紺----*/}
.shortcode-post-element .date,
.post-ajax-element .post-date, .post-ajax-element .more-link{ font-family:'Open Sans',Arial,Helvetica,sans-serif ;}
/* .alterna-title  */

.alterna-title h2 {line-height:28px;}
.alterna-title h3 {line-height:24px;}
/* post comment */
/* = Portfolio Style
-------------------------------------------------------------- */
.portfolio-filters-cate li a {
	color: #B0B0B0;display: inline-block;border: 1px solid #E0E0E0;padding: 4px 16px;border-radius: 0;
	height: 20px;line-height: 20px;cursor: pointer;
	box-shadow: none;
	-webkit-box-shadow: none;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}
.portfolio-filters-cate li a:hover {
	color: #7AB80E;border: 1px solid #424A59; /*----紺----*/
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}

/* 	----------------------------------------------------------------------------------------------	
										D. WIDGETS																										
	----------------------------------------------------------------------------------------------	*/

/* ------- 2. Button  ------- */
.btn-custom , input.btn-custom {background: #424A59; /*----紺----*/color:#ffffff;}
.btn-custom:hover , input.btn-custom:hover {background:#18AEBE; /* ----水色----- */color:#ffffff;}	
/* ------- 5. Search Form  ------- */
.sidebar-searchform input[type=submit] ,
.widget_product_search #searchform input[type=submit]{background-color: #9BACC7;/* --薄紫--*/}
/* ------- 6. Archive  ------- */
/* Widget */
.widget a {color: #666;}
.widget a:hover {color: #18AEBE; }
.widget-title { margin: 0px 0px 10px 0px;line-height: 1;}
.widget_archive ul li a:hover , 
.widget_login ul li a:hover ,
.widget_categories ul li a:hover ,
.widget_product_categories ul li a:hover ,
.widget_nav_menu ul li a:hover ,
.widget_alternaportfoliocategorywidget ul li a:hover ,
.widget_recent_entries ul li a:hover ,
.widget_pages  ul li a:hover ,
.widget_recent_comments ul li:hover ,
.widget_meta ul li a:hover ,
.widget_links ul li a:hover  {
	background: #fefefe;
}
/* ------- 9. Blog List  ------- */
.shortcode-post-element .post-title h4 { font-size: 14px; font-weight: bold;}

/* ------- 12. Features  ------- */
.features { margin-bottom: 30px;}
.features .features-icon {
	float: left;width: 40px;height: 40px;background: #9BACC7;/* --薄紫--*/padding: 15px;border-radius: 50px;
	color: white;margin-right: 10px;margin-bottom: 10px;text-align:center;line-height:40px;font-size:40px;}
.features .features-title h3 { line-height: 1.6;}
/* 	----------------------------------------------------------------------------------------------	
										E - EXTRAS																					
	----------------------------------------------------------------------------------------------	*/

/* = Shortcode Element Style
-------------------------------------------------------------- */
.shortcode-post-element .date {
	position: absolute;
top: 0px;
font-size: 12px;
left: 0px;
background: #424A59; /*----紺----*/;
padding: 5px;
color: white;
text-align: center;
line-height: 15px;
}
/* ------- 9. Services  ------- */

.services.show-bg:hover {
	background:#9BACC7;/* --薄紫--*/
}
.services.border {border:1px #e8e8e8 solid;}
.services.border:hover {border:1px #fff solid;}
.services .services-icon { background: #9BACC7;/* --薄紫--*/}

.services.show-bg:hover .services-icon {background: #ffffff;color: #9BACC7;/* --薄紫--*/}
/* ------- New Services  ------- */
.newservices.left .service-icon { color: #424A59; /*----紺----*/
font-size: 40px;
line-height: 48px;
border-radius: 0;}
.newservices .service-title { margin: 0 0 15px 0; line-height: 48px; font-size: 24px;}


/* Bootstrap */
.accordion-inner {
	background: #fdfdfd;
}
h3 small { padding-left: 1em;}

/* 	----------------------------------------------------------------------------------------------	
										XX - New STYLE																												
	----------------------------------------------------------------------------------------------	*/


/* Wide Background */
.wide-bg { background-image: url('http://themefocus.co/alterna/demo/wp-content/uploads/2013/06/vertical_cloth1.png'); background-size: 399px 400px; background-repeat: repeat; }

/* 	----------------------------------------------------------------------------------------------	
										XXX- Plugin																											
	----------------------------------------------------------------------------------------------	*/
table.tablepress { background: #fff; border: 1px solid #eee;}
table.tablepress tfoot th, table.tablepress thead th { background: #9BACC7;/* --薄紫--*/ color: #fff;}
table.tablepress .odd td, table.tablepress .row-hover tr:hover td { background: #fdfdfd;}
table.tablepress.center td, table.tablepress.center th { text-align: center;}
.woocommerce h2 { font-size: 20px;}
.woocommerce h3 { font-size: 16px;}

/* 	----------------------------------------------------------------------------------------------	
										XXXX. Home Page																										
	----------------------------------------------------------------------------------------------	*/
.home h1 span,
.home h2, .homeh3, .home h4 { font-family:'Open Sans',Arial,Helvetica,sans-serif; font-weight: 400;}
#main .home h2 { font-size: 24px;}	
.home .service-icon img { background: #424A59; /*----紺----*/ border-radius:6px; padding: 3px; box-sizing: border-box;}