/*
Theme Name: alterna7
Theme URI: http://themefocus.co/alterna/
Version: 7.0.1
Description:A powerful and clean theme.Designed by <a href="http://themefocus.co">ThemeFocus</a>
Author: ThemeFocus
Author URI: http://themefocus.co

Copyright: (c) 2009-2014 ThemeFocus.  

License: GNU General Public License v2.0 PHP under GNU General Public License, JS and CSS under ThemeForest License Terms
License URI: http://themeforest.net/licenses/regular_extended

Tags: black, green, white, orange, red
*/

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {margin: 5px 20px 20px 0;}
.aligncenter,div.aligncenter {display: block;margin: 5px auto 5px auto;}
.alignright {float:right;margin: 5px 0 20px 20px;}
.alignleft {float: left;margin: 5px 20px 20px 0;}
.aligncenter {display: block;margin: 5px auto 5px auto;}
a img.alignright {float: right;margin: 5px 0 20px 20px;}
a img.alignnone {margin: 5px 20px 20px 0;}
a img.alignleft {float: left;margin: 5px 20px 20px 0;}
a img.aligncenter {display: block;margin-left: auto;margin-right: auto;}
.wp-caption {background: #fff;border: 1px solid #f0f0f0;max-width: 96%;padding: 5px 3px 10px;text-align: center;}
.wp-caption.alignnone { margin: 5px 20px 20px 0;}
.wp-caption.alignleft { margin: 5px 20px 20px 0;}
.wp-caption.alignright { margin: 5px 0 20px 20px;}
.wp-caption img {border: 0 none;height: auto;margin: 0;max-width: 98.5%;padding: 0;width: auto;}
.wp-caption p.wp-caption-text {font-size: 11px;line-height: 17px;margin: 0;padding: 0 4px 5px;}
.sticky {}
.gallery-caption {}
.bypostauthor {}


/* 	----------------------------------------------------------------------------------------------	
										A - GENERAL STYLE																												
	----------------------------------------------------------------------------------------------	*/
body {font-family:'Open Sans',"Helvetica Neue", Helvetica, Arial, sans-serif;color: #666666;}
h1,h2,h3 {letter-spacing:-1px;}
h1,h2,h3,h4,h5,h6 {font-weight: 300;font-family:'Open Sans',Arial,Helvetica,sans-serif;margin: 10px 0;}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	line-height:20px;
	padding:5px;
	border: 1px solid #bbb;
	  -webkit-border-radius: 0px;
		 -moz-border-radius: 0px;
			  border-radius: 0px;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	outline:0;
	-webkit-transition: 600ms;
	-moz-transition: 600ms;
	-o-transition: 600ms;
	transition: 600ms;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  	border: 1px solid #7AB80E !important;
 	box-shadow:none;
	-moz-box-shadow:none;
 	-webkit-box-shadow:none;
	outline:0;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

.clear {clear:both;}
.alterna-space {margin:25px 0px;}
.alterna-space.small {margin: 15px 0px;}
.alterna-space.big {margin: 40px 0px;}

.alterna-line {border-bottom: 1px solid #f2f2f2;}
.alterna-line.dashed {border-bottom: 1px dashed #e8e8e8;}
a {color: #1c1c1c;text-decoration: none;}
a:hover {color: #7AB80E;text-decoration: none;}

ul, ol {padding: 0;margin: 0 0 10px 25px;}

/* inline ul, ol */
ul.inline, ol.inline, ul.inline ul, ol.inline ol { margin:0;padding:0;list-style:none;}
ul.inline li, ol.inline li {display:inline-block;padding:0;margin: 0 5px 0 0;}
ul.inline li:last-child, ol.inline li:last-child {margin-right:0;}

/* multi line ul, ol */
ul.mline, ol.mline, ul.mline ul, ol.mline ol { margin:0;padding:0;list-style:none;}
ul.mline li, ol.mline li {padding:0;margin: 0 0 5px 0;}
ul.mline li:last-child, ol.mline li:last-child {margin-bottom:0;}

/* global wrap style */
body {padding:0 !important;}
.wrapper { max-width:1170px; margin: 0px auto; background: white;}
.boxed-layout .wrapper { 
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
}

.wide-layout .wrapper {max-width:100% !important;margin: 0px auto !important;}

.footer-content {border-top: 6px #7AB80E solid;background:#404040;}
.footer-bottom-content {padding:10px 0;line-height: 16px;}

.content-wrap {overflow:hidden;}

/* 	----------------------------------------------------------------------------------------------	
										B - LAYOUT																													
	----------------------------------------------------------------------------------------------	*/


/* = Header Style
-------------------------------------------------------------- */

/* header banner */
#header-banner {display:none;min-height:44px;background: #f7d539;color: #222222;}
#header-banner .header-banner-content {text-align:center;padding:15px 25px;position:relative;}
#header-banner .close-btn {position: absolute;top: 50%;margin-top: -10px;right: 0px;font-size: 12px;width: 20px;height: 20px;line-height: 20px;background: #f6f6f6;}

/* header top bar */
#header-topbar {min-height: 30px;background:#f2f2f2;}
#header-topbar-left-content ul {float:left;}
#header-topbar-right-content ul {float:right;}
#header-topbar ul {list-style:none;margin:0;}
#header-topbar ul li ul {display:none;background: #f2f2f2;border: 1px solid #e6e6e6;position: absolute;top: 100%;left: -1px;min-width: 60px;z-index:999;}
#header-topbar ul ul ul {top: -1px;left: 100%;}

#header-topbar-right-content ul ul ul {margin-left: -214px;}
#header-topbar span, #header-topbar a {color:#757575;}
#header-topbar a:hover, #header-topbar a:hover .amount {color:#16a2da;}

#header-topbar ul li ul li {position:relative;}
#header-topbar li ul li a, #header-topbar li ul li span {
	border-bottom:1px #e8e8e8 solid;
	line-height: 30px;
	padding: 0 10px;
	width: 106px;
	display: inline-block;
	text-align:left;
}


#header-topbar li.social {padding:0;}
#header-topbar li.social a {width:30px; height:30px;display:block;text-align:center;}
#header-topbar li i.fa-globe,
#alterna-topbar-nav.navbar li i,
#alterna-topbar-nav.navbar li img {margin-right:5px;}
#header-topbar li i.fa-angle-down,
#alterna-topbar-nav.navbar li i.fa-angle-down {margin-left:5px;}
#header-topbar li ul li:last-child > a {border-bottom:none;}
#header-topbar li ul li a:hover {background:#f7f7f7;}
	
#header-topbar-left-content > ul > li, #header-topbar-right-content > ul > li {float:left;line-height:30px;height:30px;padding:0 8px;border-right: 1px #e6e6e6 solid;position:relative;font-size:11px;}

#header-topbar-left-content > ul > li i, #header-topbar-right-content > ul > li i {font-size: 14px;width: 18px;text-align: center;display: inline-block;}

#header-topbar-left-content li:hover > ul, #header-topbar-right-content li:hover> ul {display:block;}

#header-topbar li.touch> ul {display:block;}

#header-topbar-left-content > ul > li:first-child, #header-topbar-right-content > ul > li:first-child {}
#header-topbar-left-content > ul > li:last-child, #header-topbar-right-content > ul > li:last-child {border-right: none;}

#header-topbar li ul li:last-child a, #header-topbar li ul li:last-child span {border-bottom:none;}

#header-topbar li:hover > a > .fa-twitter{color:#48c4d2 !important;}
#header-topbar li:hover > a > .fa-facebook{color:#3b5998 !important;}
#header-topbar li:hover > a > .fa-google-plus{color:#d94a39 !important;}
#header-topbar li:hover > a > .fa-dribbble{color:#ef5b92 !important;}
#header-topbar li:hover > a > .fa-pinterest{color:#cb2027 !important;}
#header-topbar li:hover > a > .fa-flickr{color:#f1628b !important;}
#header-topbar li:hover > a > .fa-skype{color:#18b7f1 !important;}
#header-topbar li:hover > a > .fa-youtube {color:#f45750 !important;}
#header-topbar li:hover > a > .fa-linkedin{color:#71b2d0 !important;}
#header-topbar li:hover > a > .fa-xing{color:#006567 !important;}
#header-topbar li:hover > a > .fa-instagram{color:#517fa4 !important;}
#header-topbar li:hover > a > .fa-envelope{color:#4fbaf8 !important;}
#header-topbar li:hover > a > .fa-rss-sign{color:#ff6c00 !important;}

#header-topbar .wc-cart i ,
#header-topbar li.touch {cursor:pointer;}
#header-topbar .wpml li img {margin-right:5px;}


#alterna-topbar-nav {display:none;}
#alterna-topbar-nav.navbar {margin:0px;min-height: 40px;}
#alterna-topbar-nav.navbar .navbar-inverse {background:none;border:none;}
#alterna-topbar-nav .btn-navbar {margin: 5px 0;background: #040404;float: right;padding: 5px 10px;width: 40px;outline: 0;color:#ffffff}
#alterna-topbar-nav .btn-navbar span {color:#ffffff;}
#alterna-topbar-nav.navbar li a {text-shadow:none;}
#alterna-topbar-nav.navbar li a:hover {background:#040404;}
#alterna-topbar-nav.navbar li span {padding: 9px 15px;}
#alterna-topbar-nav .collapse {display:none;clear:both;height:100%;}
#alterna-topbar-nav .collapse.open {display:block;}
#alterna-topbar-nav .collapse.open .nav {margin-bottom:5px;}

/* header alert message */
.header-top-content {background: #7AB80E;}
.header-information {font-size: 12px;padding: 5px 0;display: inline-block;width: 100%;float: left;}
.header-custom-message {float: right;}
.header-information i {margin-right:5px;}
.header-information a {color:#fff;}
.header-information a:hover {color:#5b8f00;}

/* header logo , social */
#alterna-header {padding: 25px 0px;}
#alterna-header .logo , #alterna-header .logo a {float:left;display: block;}
#alterna-header .header-social-container ,
#alterna-header .header-custom-container {float:right;display: block;}

/* header menu , search form */
#alterna-drop-nav {margin-bottom:0px;display:none;	background:#0C0C0C;}
#alterna-nav-menu-select {position: relative;width: 100%;border-radius: 0px !important;padding: 5px 10px;text-align: center;	background: none;border: none;}
#alterna-nav-menu-select .btn-navbar {padding: 5px;width: 40px;margin: 0;background: none;color: #ffffff;}
#alterna-nav-menu-select .nav {margin: 5px 0 0;}
#alterna-nav-menu-select .nav a {padding: 7px 10px;line-height: 24px;border-radius: 0;text-shadow:none;font-family: 'Oswald',sans-serif;font-weight: 400;color:#ffffff;text-align:left;}
#alterna-nav-menu-select .nav li i {margin-right:5px;}
#alterna-nav-menu-select .nav .fa-angle-down, #alterna-nav-menu-select .nav .fa-angle-right {display:none;}
#alterna-nav-menu-select .nav .active a , #alterna-nav-menu-select .nav a:hover {background:#7ab80e;}
#alterna-nav-menu-select .menu-name {margin-left: 30px;display: block;line-height: 16px;font-size: 14px;margin-top: -15px;}

.alterna-nav-menu-container {float:left;}
.alterna-nav-menu {float:left;margin: 0;}
.alterna-nav-menu i {float: left;margin-top: 6px;margin-right: 5px;}
.alterna-nav-menu i.icon-plus , .alterna-nav-menu i.fa-angle-down, .alterna-nav-menu i.fa-angle-right {float: right;margin-left: 5px;margin-right: 0px;}
.alterna-nav-menu span.sub {float: right;margin-left: 10px;font-size: 18px;line-height: 24px;}

.alterna-nav-menu > li {list-style: none outside none;float:left;color:#ffffff;line-height: 20px;position:relative;background:url('img/menu_line.png') no-repeat right center;}

.alterna-nav-menu li {-webkit-transition: background-color 500ms;-moz-transition: background-color 500ms;-o-transition: background-color 500ms;transition: background-color 500ms;}

.alterna-nav-menu li:hover {background:#7ab80e;}

.alterna-nav-menu li a {float: left;color: white;font-size: 13px;font-weight: 400;min-height: 24px;line-height: 24px;font-family: 'Oswald',sans-serif;padding: 12px 15px;text-decoration: none;text-transform: uppercase;}

.alterna-nav-menu > li.current-menu-item , .alterna-nav-menu > li.current-menu-ancestor {background:#7ab80e;}
.alterna-nav-menu .sub-menu {display:none;position: absolute;margin-top:48px;margin-left:0px;z-index:1000;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	padding-bottom:10px;
	background:#7ab80e;/*default*/
}

.alterna-nav-menu .sub-menu li {position:relative;}
.alterna-nav-menu .sub-menu .sub-menu {margin-left: 100%;margin-top:0px;}
.alterna-nav-menu li:hover > ul{display:block;}
.alterna-nav-menu .sub-menu li {float: left;list-style: none outside none;border-bottom:1px #3a3a3a dotted;}
.alterna-nav-menu .sub-menu li a {float:left;color:#242424;padding:6px 15px !important;min-width:210px;}
.alterna-nav-menu > li.current-menu-item:hover  , 
.alterna-nav-menu > li.current-menu-ancestor:hover ,
.alterna-nav-menu > li.current-menu-item:hover .sub-menu, 
.alterna-nav-menu > li.current-menu-ancestor:hover .sub-menu {background:#7ab80e;}
.alterna-nav-menu .sub-menu li:hover {background:#242424;}
.alterna-nav-menu .sub-menu li:hover > a {color:#ffffff;}
#alterna-nav {background:#0c0c0c;border-bottom:4px #7ab80e solid;position:relative;min-height:48px;}

/* header form */
.alterna-nav-form-container {float:right;}
.alterna-nav-form-container .alterna-nav-form {padding: 7px 0;}
.alterna-nav-form-container .alterna-nav-form form {position: relative;margin: 0px;height: 34px;}

.searchform .sf-s {
	font-size:12px;padding:5px 8px;color:#666;
	border-radius: 0;margin: 0px;height: 35px;background:#323232;	
	border:1px #344 solid;width:75px;line-height: 14px;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}

.searchform .sf-s:hover {width:150px;}

.searchform .sf-searchsubmit {
	outline:0;
	border: 1px solid #7AB80E;
	background-color: #7AB80E;
	position: absolute;
	width: 37px;
	height: 37px;
	right: 0px;
	top: -1px;
	background-image: url('img/search_icon.png');
	background-size: 24px 24px;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}
.searchform .sf-searchsubmit:hover {
	background-color:#1a1a1a;
	border: 1px solid #4a4a4a;
}

.widget_product_search .screen-reader-text {display:none;}

/* style 2 */
.alterna-header-right-container {float:right;}
.header-style-2 .logo {margin-top:15px;}
.alterna-nav-form-style-2 {display:none;}

/* style 2 menu */
.header-style-2 {border-bottom:#e8e8e8 solid 1px;}
.header-style-2 .menu {float:right;margin-top:10px;}
.header-style-2 .alterna-nav-menu {margin:0;}
.header-style-2 .alterna-nav-menu i {margin-top: 4px;}
.header-style-2 .alterna-nav-menu .sub-menu i {margin-top: 3px;}
.header-style-2 .alterna-nav-menu li a {color:#333;padding: 10px 0px;line-height: 20px;min-height: 20px;}
.header-style-2 .alterna-nav-menu li li a {color:#555;}
.header-style-2 .alterna-nav-menu > li {background:none;padding: 0px 10px;}
.header-style-2 .alterna-nav-menu > li:hover {background:#7ab80e;}

.header-style-2 .alterna-nav-menu .sub-menu {margin-top: 40px;margin-left: -10px;}
.header-style-2 .alterna-nav-menu .sub-menu li a {padding: 6px 10px !important;}
.header-style-2 .alterna-nav-menu .sub-menu .sub-menu {margin-top: 0px;margin-left: 100%;}

.header-style-2 .alterna-nav-menu > li.current-menu-item > a , 
.header-style-2 .alterna-nav-menu > li.current-menu-ancestor > a{ border-bottom:#7ab80e solid 1px;}

.header-style-2 .alterna-nav-menu i.fa-plus, 
.header-style-2 .alterna-nav-menu i.fa-angle-down, 
.header-style-2 .alterna-nav-menu i.fa-angle-right {margin-left: 2px;}

/* style 2 form & social */
.header-style-2 .alterna-nav-form-container .alterna-nav-form {padding:0px;margin-left:20px;}
.header-style-2 .header-social-container {margin-top:1px;}
.header-style-2 .searchform .sf-s {background: none;border: 1px #E8E8E8 solid;}

/* style 3 */
.alterna-nav-form-style-3 {display:none;}
#alterna-header.header-style-3 .logo a {float: none;margin: 0 auto;}
.header-style-3 .alterna-nav-menu-container {position: relative;left: -50%;float:right;}
.header-style-3 .alterna-nav-menu {position: relative;left: 50%;}
.header-style-3 .header-social-container {margin-top:15px;text-align: center;}

/* style 3 menu */
#alterna-header.header-style-3 {border-bottom:#e8e8e8 solid 1px;padding: 25px 0px 0px;}
.header-style-3 .menu {margin-top:10px;}
.header-style-3 .alterna-nav-menu {margin:0;}
.header-style-3 .alterna-nav-menu li a {color:#333;padding: 10px 0px;}
.header-style-3 .alterna-nav-menu li li a {color:#555;font-size:12px;}
.header-style-3 .alterna-nav-menu > li {background:none;padding: 0px 10px;}
.header-style-3 .alterna-nav-menu > li:hover {background:#7ab80e;}

.header-style-3 .alterna-nav-menu .sub-menu {margin-top: 44px;margin-left: -10px;}
.header-style-3 .alterna-nav-menu .sub-menu li a {padding: 5px 10px !important;min-width: 190px;}
.header-style-3 .alterna-nav-menu .sub-menu .sub-menu {margin-top: 0px;margin-left: 100%;}

.header-style-3 .alterna-nav-menu > li.current-menu-item > a , 
.header-style-3 .alterna-nav-menu > li.current-menu-ancestor > a{ border-bottom:#7ab80e solid 1px;}

.header-style-3 .alterna-nav-menu i.fa-plus, 
.header-style-3 .alterna-nav-menu i.fa-angle-down, 
.header-style-3 .alterna-nav-menu i.fa-angle-right {margin-left: 2px;}

/* style 4 */
#alterna-header.header-style-4 {border-bottom:#e0e0e0 solid 1px;padding: 0px;min-height:106px;}

.header-style-4 .logo {margin-top:23px;}
.header-style-4 .menu {float:right;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}
.header-style-4 .menu.opacity {opacity:0.2;}

.header-style-4 .alterna-nav-menu {margin:0;}

.header-style-4 .alterna-nav-menu > li,
.header-style-4 .alterna-nav-menu > li.current-menu-item ,
.header-style-4 .alterna-nav-menu > li.current-menu-ancestor {background:none;}

.header-style-4 .alterna-nav-menu li a {color:#666;}
.header-style-4 .alterna-nav-menu > li > a .fa-angle-down {display:none;}

.header-style-4 .alterna-nav-menu > li:hover {background:none !important;}

.header-style-4 .alterna-nav-menu > li > a {padding: 40px 15px;}
.header-style-4 .alterna-nav-menu > li.current-menu-item > a,
.header-style-4 .alterna-nav-menu > li.current-menu-ancestor > a{border-bottom:2px solid #7ab80e;color:#7ab80e;}
.header-style-4 .alterna-nav-menu > li:hover > a {background: #f5f5f5;color:#7ab80e;border-bottom:2px solid #7ab80e;}
.header-style-4 .alterna-nav-menu .sub-menu {margin-top: 104px;background:none !important;padding-bottom:0;border-top:2px solid #7ab80e;}
.header-style-4 .alterna-nav-menu .sub-menu .sub-menu {margin-top: -2px;padding-left:1px;}
.header-style-4 .alterna-nav-menu .sub-menu li {background:#f5f5f5;border-top:#ffffff 1px solid;border-bottom:#d9d9d9 1px solid;}
.header-style-4 .alterna-nav-menu .sub-menu li:first-child {border-top:none;}
.header-style-4 .alterna-nav-menu .sub-menu li:hover {background:#2a2a2a;}
.header-style-4 .alterna-nav-form-container {margin-top: 40px;position:relative;}
.header-style-4 .alterna-nav-form-content {position:absolute;top: -6px;right: 30px;z-index:1100;width:0px;overflow: hidden;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}
.header-style-4 .alterna-nav-form-content.show {width:347px;}
.header-style-4 .alterna-nav-form-content form {margin:0;}
.header-style-4 .alterna-nav-form-content .searchform .sf-s {width: 310px; background: #ffffff;border: 1px #e8e8e8 solid;padding: 5px 5px 5px 5px;margin-left: 35px;}
.header-style-4 .alterna-nav-form-content .searchform .sf-s:focus {border: 1px #7ab80e solid;}
.header-style-4 .alterna-nav-form-content .searchform .sf-searchsubmit {width: 35px;height: 35px;top: 0px;left: 0px;border: none;}
.header-style-4 .alterna-nav-form-icon {cursor:pointer;}
.header-style-4 .alterna-nav-form-icon i {display: inline-block;text-align: center;width: 24px;height: 24px;line-height: 20px;}

/* style 5 */
#alterna-header.header-style-5 {border-bottom:#e0e0e0 solid 1px;}
.header-style-5 .alterna-nav-menu li a {padding:5px 10px;color:#555;}
.header-style-5 .alterna-nav-menu i.fa-angle-down {display:none;}
.header-style-5 .alterna-nav-menu > li {background:none;}
.header-style-5 .alterna-nav-menu > li.current-menu-item, .header-style-5 .alterna-nav-menu > li.current-menu-ancestor,
.header-style-5 .alterna-nav-menu > li.current-menu-item:hover, 
.header-style-5 .alterna-nav-menu > li.current-menu-ancestor:hover {background:none;}
.header-style-5 .alterna-nav-menu .sub-menu {margin-top: 34px;margin-left: 0px;padding-bottom: 10px;background: #ffffff;border: 1px solid #e8e8e8;padding: 10px;}
.header-style-5 .alterna-nav-menu .sub-menu .sub-menu {margin-left: 100%;margin-top: 0px;}
.header-style-5 .alterna-nav-menu .sub-menu li {border-bottom: 1px #e3e3e3 solid;}
.header-style-5 .alterna-nav-menu > li.current-menu-item:hover .sub-menu, 
.header-style-5 .alterna-nav-menu > li.current-menu-ancestor:hover .sub-menu {background: #ffffff;}
.header-style-5 .alterna-header-right-container {margin-top: 13px;}
.header-style-5 .menu {float:right;}
.header-style-5 .alterna-nav-form {position:relative;float: right;}
.header-style-5 .alterna-nav-form form{margin:0;}
.header-style-5 .searchform .sf-s {background: rgba(255,255,255,0.3);border: 1px #e8e8e8 solid;height: 34px;}
.header-style-5 .searchform .sf-searchsubmit {top: 0px;border: none;width: 34px;height: 34px;}

/* fixed menu */
.fixed-logo , .fixed-logo a{float:left;}
.fixed-logo {display:none;}

#alterna-nav.header-fixed {
	position: fixed;
	width:100%;
	left: 0;
	top: 0;
	z-index: 2000;
	box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
	min-height: 44px;
}

#alterna-nav.header-fixed .fixed-logo {display:block;margin-top: 2px;}

.header-fixed.alterna-nav-form-style-2 , .header-fixed.alterna-nav-form-style-3 {display:block;}

.header-fixed .alterna-nav-menu {margin-left: 10px;}


header.header-fixed {position: fixed;z-index: 10000;top: 0px;left: 0;width: 100%;background: #fff;
	box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
}
/* style 4, 5 */
header.header-fixed #alterna-header.header-style-4 {min-height:60px;padding:0;}
header.header-fixed #alterna-header.header-style-4, header.header-fixed #alterna-header.header-style-5 {border:none;}
header.header-fixed .header-style-4 .logo {margin-top:0;}
header.header-fixed .header-style-4 .alterna-nav-form-container {margin-top: 20px;}
header.header-fixed .header-style-4 .alterna-nav-menu > li > a {padding:17px 15px; }
header.header-fixed .header-style-4 .alterna-nav-menu .sub-menu {margin-top: 58px;}
header.header-fixed .header-style-4 .alterna-nav-menu .sub-menu .sub-menu {margin-top: -2px;}
header.header-fixed #alterna-header.header-style-5 {padding:5px 0;}

/* = Footer Style
-------------------------------------------------------------- */
.footer-content {color: #999;}
.footer-top-content {padding: 20px 0px;}
.footer-top-content h4 {color:#fff;}
.footer-bottom-content {border-top: 1px #4a4a4a solid;background-color: #0C0C0C;font-size: 12px;}
.footer-copyright {float:left;font-family: Arial, sans-serif;}
.footer-copyright a {color:#606060;}
.footer-copyright a:hover {color:#7AB80E;}
.footer-link {float:right;}
.footer-social li {padding: 0px !important;}

/* footer banner */
#footer-banner {border-top: 1px solid #e8e8e8;display:none;min-height:44px;background: rgba(255,255,255,0.9);color: #222222;position: fixed;bottom: 0;width: 100%;left: 0;z-index: 8888;}
#footer-banner .footer-banner-content {text-align: center;padding: 15px 25px;position: relative;}
#footer-banner .close-btn {position: absolute;top: 50%;margin-top: -10px;right: 0px;font-size: 12px;width: 20px;height: 20px;line-height: 20px;background: #f6f6f6;}

/* = Page Header Style
-------------------------------------------------------------- */
.page-slider-container {position:relative;}
#page-header {
	position:relative;
	background:#f9f9f9;
}
.top-shadow {
	position: absolute;
	top: -1px;
	background: transparent url('img/header-top-shadow.png') no-repeat center top;
	background-size: 100% 30px;
	width: 100%;
	height: 30px;
	z-index: 888;
}
#page-header .page-header-content {display: inline-block;width: 100%;padding: 25px 0;}
#page-header .page-header-content .title {margin: 0;}
#page-header .page-header-content .page-desc {margin-top: 10px;}

#page-breadcrumb {border-top: 1px #e0e0e0 solid;padding:5px 0;}
#page-breadcrumb ul {margin: 0px;list-style-type: none;float: left;}
#page-breadcrumb ul li {float:left;margin-right:5px;}
#page-breadcrumb a ,#page-breadcrumb span {font-size: 12px;line-height: 15px;margin-top: 1px;}
#page-breadcrumb i {margin-right:5px;font-size:10px;}
#page-breadcrumb i.fa-home {margin-right:3px;font-size:14px;}


/* = Other Element Style
-------------------------------------------------------------- */

/* main content */
#main {padding-top:20px;}
.wide-background {background:#f5f5f5;}
.wide-layout .wide-background {padding: 30px 130px;margin-left: -130px;margin-right: -130px;}
.boxed-layout .wide-background {padding:30px 15px;margin-left:-15px;margin-right:-15px;}

/* line style */
.line {float:left;width:100%;}
.left-line {float:left;width:20%;height:2px;background:#7ab80e;}
.right-line {float:left;width:80%;height:1px;background:#e1e1e1;margin-top:1px;}
.full-line {height:1px;background:#e1e1e1;}

/* media */
video {width:100%;height:auto;}
.video-youtube , .video-vimeo {width: 100%;padding-bottom: 56%;position: relative;float: left;}
.video-youtube iframe , .video-vimeo iframe {position: absolute;height: 100%;width: 100%;}
.sound-sl iframe , .video-youtube iframe , .video-vimeo iframe {border:none;}
.full-width-show {width:100%;}

/* edit button */
.post-edit i {margin-right:5px;}

/* back top */
#back-top {
	display:none;
	position: fixed;
	right: 5px;
	bottom: 10px;
	width: 46px;height: 46px;
	cursor:pointer;
	background-color:#333;
	border-radius: 4px;
	background-image:url("img/custom/icon_chevron_top.png");
	background-size:30px 30px;
	background-position:center;
	background-repeat:no-repeat;
	z-index: 9000;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}

#back-top:hover {background-color:#7AB80E;}

/* Ajax Button */
.post-ajax-element {margin-bottom:20px;}
.ajax-load-btn-container {margin: 20px 0;text-align: center;}
.ajax-load-content,.post-ajax-loading {display:none;}
.post-ajax-load-btn {cursor:pointer;}
.post-ajax-loading,.post-ajax-scroll-load {line-height: 32px;}
.post-ajax-loading i {margin-right:5px;}


/* 	----------------------------------------------------------------------------------------------	
										C - PAGE STYLES																											
	----------------------------------------------------------------------------------------------	*/
	

/* = Post , Blog
-------------------------------------------------------------- */

.entry-post {border-bottom: 1px #E1E1E1 dashed;padding-bottom: 20px;margin-bottom: 20px;display: inline-block;width: 100%;}

.post-date-type,
.entry-left-side .post-author,
.entry-left-side .post-comments {float: left;clear:both;margin-bottom:10px;}

.post-date-type .post-type {line-height: 10px;width: 50px;text-align: center;background: #7ab80e;float: left;
color: #ffffff;font-size: 20px;padding: 10px 10px;}

.post-date-type .date {float: left;padding: 10px 15px;background: #0C0C0C;width: 104px;}
.post-date-type .day ,
.post-date-type .month ,
.post-date-type .year {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight:bold;}
.post-date-type .day {line-height: 30px;float: left;text-align: center;font-size: 35px;color: #ffffff;width: 55%;}
.post-date-type .month {margin-bottom: 2px;}
.post-date-type .month , 
.post-date-type .year {text-align:right;line-height:14px;color:#ffffff;font-size:12px;float:left;   width: 45%;}

.entry-left-side .post-author ,
.entry-left-side .post-comments {padding-left: 5px;border-left: 3px solid #E1E1E1;}
.entry-left-side .post-author i ,
.entry-left-side .post-comments i {text-align:center;width:16px;margin-right: 5px;}

.entry-post .entry-header .entry-title,
.single-post .entry-header .entry-title {margin: 0 0 10px;}
.entry-right-side .date {font-weight: bold;margin-bottom: 10px;color: #7ab80e;}
.entry-post .post-element-content,
.single-post .post-element-content {float: left;margin-bottom: 15px;width:100%;}
.entry-right-side .post-meta {margin: 0 0 10px;padding: 5px 0px;border-top: 1px #e1e1e1 dotted;border-bottom: 1px #e1e1e1 dotted;position:relative;}
.entry-right-side .post-meta .cat-links {padding-right:40px;}
.entry-right-side .post-meta .cat-links i {width:16px;text-align:center;margin-right:5px;}
.entry-right-side .post-meta .entry-link,
.entry-right-side .post-meta .entry-comments {position:absolute;right:5px;top:5px;}
.entry-right-side .post-meta .entry-comments i {margin-right:5px;}

.single-post .post-meta  {margin-bottom: 10px;padding: 8px 0;border-top: 1px #E1E1E1 dashed;border-bottom: 1px #E1E1E1 dashed;float: left;width: 100%;line-height: 20px;}

.single .post-meta i ,
.single-post .post-category i ,
.single-post .post-tags i {
	margin-right:5px;
}

.single-post .post-meta > div {float: left;margin-right: 10px;}
.entry-right-side .post-edit {margin:10px 0px;}
.single-post .entry-tags {margin: 15px 0px;padding: 15px 0px 15px 50px;position: relative;}
.single-post .post-share {margin-bottom:15px;}
.single-post .entry-tags .post-tags-icon {
	left: 0px;
	margin-top: -10px;position: absolute;
	border-radius: 50px;background: #7AB80E;
	padding: 10px;float: left;
	height: 40px;
	width: 40px;
	line-height: 20px;
	text-align: center;
	color:#ffffff;
}

.single-post .entry-content,
.single-post .entry-header,
.single-post .entry-tags,
.single-post .post-share,
.single-post .post-about-author,
.single-post #comments {float:left;width:100%;}

/* post comment */

.placeholding-input {position: relative;margin-bottom: 10px;float: left;clear: both;}
.placeholding-input input {width: 220px;}
.placeholding-input .placeholder {
	font-weight: normal;
	color: #999;cursor: text;height: 20px;left: 6px;position: absolute;
	top: 5px;margin: 0px;line-height: 20px;
	opacity:1;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}

.have-some .placeholder {font-size:0px !important;	opacity:0;}

/* post image */
.post-img {position:relative;float:left;width:100%;}
.post-img img {width:100%;}
.post-img > a { float:left; }
.post-tip {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	opacity:0;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
	overflow:hidden;
}

.post-img:hover .post-tip {opacity:1;}

.post-tip div.bg {
	width:100%;
	height:100%;
	background:#000000;
	opacity:0.7;
}

.post-tip div.link {
	padding: 10px;
	position: absolute;
	margin-top: -25px;
	margin-left: -25px;
	left: 50%;
	top: 50%;
	background: #000000;
	width: 50px;
	height: 50px;
	border-radius: 4px;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}

.post-tip div.no-bg {background: none;}
.post-tip div.left-link {margin-left: -60px;top: 50%;left: 150%;}
.post-tip div.right-link {margin-left: 10px;top: 50%;left: -50%;}
.post-tip div.center-link {top: -50%;left: 50%;}

.post-img:hover .post-tip div.left-link ,
.post-img:hover .post-tip div.right-link {
	left: 50%;
}

.post-img:hover .post-tip div.center-link {
	top: 50%;
}

div.left-link:hover ,
div.right-link:hover ,
div.center-link:hover {
	background: #7ab80e;
}


.entry-right-side .more-link {
	padding:0px;
	float:right;
	margin:5px 0px;
}

.single-pagination {
	margin:20px 0px;
	padding:20px 0px;
	border-top:1px #e1e1e1 dashed;
}
.single-pagination .post-title {display:none;}
.single-pagination a[rel='prev'] {float:left;font-size: 16px;}
.single-pagination a[rel='next'] {float:right;font-size: 16px;}

/* alterna title */
.alterna-title {margin-bottom: 15px;display: inline-block;width: 100%;}
.alterna-title h1, .alterna-title h2, .alterna-title h3, .alterna-title h4, .alterna-title h5, .alterna-title h6  {margin: 0px;	margin-bottom: 10px;}
.alterna-title i {margin-right:5px;}

.alterna-sc-title {position: relative;margin-bottom:15px;}
.alterna-sc-title.left {text-align:left;}
.alterna-sc-title.center {text-align:center;}
.alterna-sc-title.right {text-align:right;}
.alterna-sc-title .uppercase {text-transform: uppercase;}
.alterna-sc-title .bold {font-weight:bold;}
.alterna-sc-entry-title {margin: 0;line-height:36px;display: inline-block;}
.alterna-sc-title-icon {margin-right: 6px;padding: 8px;border-radius: 60px;display: inline-block;color: #ffffff;width: 36px;font-size: 16px;line-height: 20px;height: 36px;text-align: center;background: #666;}
h1.alterna-sc-entry-title {line-height:50px;}
h1.alterna-sc-entry-title .alterna-sc-title-icon {padding: 10px;width: 50px;font-size: 24px;line-height: 30px;height: 50px;}
h2.alterna-sc-entry-title {line-height:44px;}
h2.alterna-sc-entry-title .alterna-sc-title-icon {padding: 9px;width: 44px;font-size: 20px;line-height: 26px;height: 44px;}
h4.alterna-sc-entry-title {line-height:30px;}
h4.alterna-sc-entry-title .alterna-sc-title-icon {padding: 5px;width: 30px;font-size: 14px;line-height: 20px;height: 30px;}
h5.alterna-sc-entry-title {line-height:26px;}
h5.alterna-sc-entry-title .alterna-sc-title-icon {padding: 3px;width: 26px;font-size: 14px;line-height: 20px;height: 26px;}
h6.alterna-sc-entry-title {line-height:22px;}
h6.alterna-sc-entry-title .alterna-sc-title-icon {padding: 1px;width: 22px;font-size: 12px;line-height: 20px;height: 22px;}

.alterna-sc-title-line {height: 1px;background: #e1e1e1;margin-top: 10px;}

.gravatar {float:left;}
.post-author-details .author-meta {margin-left: 92px;}
.post-author-details .gravatar {float:left;position: absolute;}
.post-author-details {margin-bottom:15px;min-height: 80px;position: relative;float: left;width: 100%;}

.post-quote-entry {padding:20px 20px 20px 60px;background:#7AB80E;position:relative;color:#111;}

.post-quote-entry .post-quote-icon {
	width:50px;

	height:50px;
	background-image: url('img/custom/icon-quote-post.png');
	background-size: 50px 50px;
	background-repeat:no-repeat;
	position:absolute;
	left:8px;
	top:8px;
}

.post-quote-entry , .post-quote-entry p {
    font-size: 25px;
	line-height: 28px;
    font-style: italic;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.entry-right-side .post-category {
	position:relative;
}

.entry-right-side .post-link {
	position: absolute;
	right: 0px;
	top: 5px;
}

.blog-show-style-2 .entry-right-side .post-link {top: 0px;}

.entry-right-side .post-link i {
	opacity:0.6;
}

.entry-right-side .post-link:hover i {
	opacity:1;
}

#cancel-comment-reply-link {float: left;margin-bottom: 15px;}
#comment-input > input {width: 90%;}
#comment-form #comment-textarea #comment {width:100%;float:right;}
#comment-form #comment-textarea #comment.logged-in {width:100%;float:left;}
.comment-list , .comment-list ul{list-style: none outside none;margin: 0px;}
.comment-list ul.children {margin-left: 50px;}
.comment-list .popover-title {font-size:18px;}
.comment-list li {margin-left: 0;}
.comment-list .comment-item {margin-bottom: 10px;position: relative;width: 100%;}
.comment-list .comment-item .comment-content {background-color: #f9f9f9;border: 1px #f0f0f0 solid;margin-left: 50px;min-height: 30px;padding:10px;}
.comment-list .comment-reply-link {color: #ffffff;padding: 3px 6px;background: #7AB80E;font-size: 11px;border-radius: 4px;}
.comment-list .comment-reply-link:hover {color: #ffffff;background: #5b8f00;}

.comment-list .comment-item .comment-content p {margin-top: 5px;}
.comment-list .comment-arrow {
    background: url("img/comment-arrow.png") no-repeat scroll 0 0 transparent;
    height: 30px;
    left: 92px;
    position: absolute;
    top: 10px;
    width: 30px;
}
.comment-wait-approved {color: #F55D2D;}

#comment-nav-above {margin: 10px 0;float: left;width: 100%;}
#comment-nav-above .next-post {float:right;}
#comment-nav-above .pre-post {float:left;}

#comment-alert-error, 
#comment-alert-error span {display:none;}

#comment-alert-error.show,
#comment-alert-error .comment-alert-error-name.show,
#comment-alert-error .comment-alert-error-email.show,
#comment-alert-error .comment-alert-error-url.show,
#comment-alert-error .comment-alert-error-message.show {display:block;}


/* post with ajax */
.post-ajax-border {float: left;border: 1px #E8E8E8 solid;padding: 10px;width: 100%;
	box-shadow: 1px 2px 5px 1px #EEE;
	-webkit-box-shadow: 1px 2px 5px 1px #EEE;
}
.post-ajax-element i {margin-right:5px;}
.post-ajax-element .post-ajax-content {float: left;width: 100%;margin-bottom:10px;}
.post-ajax-element .post-mata-container {float: left;width: 100%;border-top: #E8E8E8 1px dotted;border-bottom: #E8E8E8 dotted 1px;padding: 10px 0px;}
.post-ajax-element .post-ajax-information {float:left;width: 100%;}
.post-ajax-element .post-type {line-height: 10px;background: #7AB80E;float: left;padding: 10px 10px;margin-right: 10px;}
.post-ajax-element .post-meta-content {margin-left: 60px;}
.post-ajax-element .post-meta-content .entry-title {margin: 0 0 10px;}
.post-ajax-element .post-meta-content .post-meta > div {float:left; margin-right:10px;}
.post-ajax-element .post-date {float:left;margin-bottom: 5px;}
.post-ajax-element .post-link {float:right;}
.post-ajax-element .entry-summary {float: left;margin-top: 5px;width:100%;}
.post-ajax-element .more-link {float:right;font-size: 12px;}

.post-meta,
.post-meta a,
.comment-meta ,
.comment-meta a ,
.search-post-mate ,
.search-post-mate a {color:#999 !important;font-family:'Open Sans',Arial,Helvetica,sans-serif;font-size:11px;}
.post-meta i , .search-post-mate i {font-size:14px;}
.post-meta a:hover , 
.comment-meta a:hover ,
.search-post-mate a:hover {color:#7AB80E !important;}

/* = Portfolio Style
-------------------------------------------------------------- */

.portfolio-filters {margin-bottom: 20px;text-align: center;}
.portfolio-filters-cate li {margin-bottom:5px;}
.portfolio-filters-cate li a {
	color: #B0B0B0;display: inline-block;border: 1px solid #E0E0E0;
	padding: 5px 15px;border-radius: 18px;
	height: 30px;line-height: 20px;cursor: pointer;
	box-shadow: 1px 1px 5px 1px #EEE;
	-webkit-box-shadow: 1px 2px 5px 1px #EEE;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}
.portfolio-filters-cate li a:hover {color: #7AB80E;border: 1px solid #7AB80E;}
.portfolio-filters-cate li a.active {color: #000000;border: 1px solid #d0d0d0;}
.portfolio-element {margin-bottom:20px !important;}

.portfolio-wrap {position:relative;}

.portfolio-wrap img{width:100% !important;}

.portfolio-wrap .post-tip .entry-title {line-height: 20px;position: absolute;left: 0px;top: 50%;text-align: center;width: 100%;margin-top: -10px;color: #7AB80E;	display:none;}
.portfolio-wrap .post-tip .entry-title i {margin-top: -5px;margin-right: 5px;}
.portfolio-wrap:hover .post-tip .entry-title{display:block;}

.post-tip-info {position: absolute;left: 0px;top: 0px;padding: 5%;width: 90%;height: 90%;}
.portfolio-wrap .post-tip .post-tip-info .entry-title {text-align: left;position: static;margin: 0px;color: white;margin-bottom: 10px;}
.post-tip-info p {float: left;color: white;font-size: 12px;display:none;}
.post-tip-info .portfolio-client {color: #7AB80E;margin-top: 10px;font-size: 13px;display: block;}
.portfolio-wrap:hover .post-tip p {display:block;}

.portfolio-content {width: 100%;float: left;}
.portfolio-style-1 .portfolio-content {border-bottom: 1px #e8e8e8 solid;padding: 10px 0px;text-align:center;}
.portfolio-style-3 .portfolio-content {padding-top: 10px;text-align: left; }
.portfolio-style-3 .portfolio-title {position: relative;}
.portfolio-style-3 .portfolio-type {display: inline-block;width: 30px;height: 30px;background: #7AB80E;padding: 5px;
position: absolute;left: 0;top: -40px;float: left;line-height: 20px;}
.portfolio-style-3 .portfolio-type span {width: 20px;height: 20px;line-height: 20px;background-size: 20px 20px;}

.portfolio-content .entry-title {color: #3A3A3A;font-weight: 300;margin:0 0 5px;}
.portfolio-content .portfolio-categories {margin-bottom:5px;color:#AEAEAE;font-style:italic;font-size:12px;}

.portfolio-element.portfolio-style-1:hover .portfolio-content { background: #F8F8F8;border-bottom: 1px #7AB80E solid;}
.portfolio-element:hover .portfolio-content .entry-title {color: #7AB80E;}

.portfolio-element:hover .post-tip  {opacity:1;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}

.portfolio-element:hover .post-tip div.left-link ,
.portfolio-element:hover .post-tip div.right-link {left: 50%;}

.portfolio-style-4 .portfolio-img {position:relative;}
.portfolio-style-4 .post-mask-content {position:absolute;width:100%;height:100%;
	background:rgba(255,255,255,0.8);
	left:0;top:0;text-align:center;
	-webkit-transition: 600ms;
	-moz-transition: 600ms;
	-o-transition: 600ms;
	transition: 600ms;
	opacity:0;
}
.portfolio-style-4:hover .post-mask-content {opacity:1;}
.portfolio-style-4 .post-mask-content:before {content: '';display: inline-block;height: 100%;vertical-align: middle;margin-right: -0.25em;}
.portfolio-style-4 .post-mask-content .centered {width: 90%;padding: 0 20px;display: inline-block;vertical-align: middle;}
.portfolio-style-4 .portfolio-wrap {padding: 5px;border: 1px solid #e8e8e8;}

.single-portfolio .post-entry .entry-title {margin: 0 0 10px;}

.single-portfolio-left-content,
.single-portfolio-right-content {float:left;margin-bottom:15px;}
.single-portfolio-left-content .post-element-content {float:left;width:100%;margin-bottom:15px;}
.single-portfolio-meta {display: inline-block;text-align:left;list-style-type: none;margin: 0 0 15px;border:1px #e8e8e8 solid;}
.single-portfolio-meta li {float:left;width: 100%;border-bottom:1px #e8e8e8 solid;padding:7px 0px;line-height:20px;}
.single-portfolio-meta li:last-child {border:none;}
.single-portfolio-meta li:hover {background:#f2f2f2;}
.single-portfolio-meta .type {float:left;margin-left:10px;line-height: 14px;}
.single-portfolio-meta .type i {width:20px;height:20px;line-height:20px;text-align:center;margin-right: 5px}
.single-portfolio-meta .value {float:right;margin-right:10px;line-height: 18px;max-width:60%;text-align:right}
.single-portfolio-share {margin:10px 0px 10px 10px;line-height: 10px;}
.single-portfolio-content {margin-bottom: 20px;}
.circle-color {float: left;width:16px;height:16px;border-radius:20px;margin-left:5px;border: 3px solid #ddd;}

/* = Contact Style
-------------------------------------------------------------- */
#contact-form .comments-element {margin-bottom:10px;}
#contact-form .comments-element label {float:left;width:100%;font-weight: normal;}
#contact-form .comments-element input {width: 50%;}
#contact-form .comments-element textarea {width: 100%;}
#contact-form #recaptcha_widget_div {margin-bottom:10px;}

/* = 404 Page Style
-------------------------------------------------------------- */
.error-404 {text-align: center;padding: 40px 0 120px 0;}
.error-404 .error-icon {font-size: 100px;color: #a94442;}

/* = Search Page Style
-------------------------------------------------------------- */
.post-entry.search-item {border-bottom: 1px #E1E1E1 dashed;margin-bottom: 20px;padding-bottom: 10px;}
.post-entry.search-item i {margin-right:5px;}
.post-entry.search-item .entry-meta > span {margin-right:15px;}
.post-entry.search-item .post-thumbnail {width: 150px;float: left;margin-right: 20px;}

/* = Login Page Style
-------------------------------------------------------------- */
.login-logo {text-align:center;}
.login-title {text-align: center;margin: 20px 0;font-size: 24px;font-weight: 300;}
.login-form-wrap {padding: 0 20px 20px;margin: 20px 0 40px;}
.alterna-login-form-element {margin-bottom:20px;}
.alterna-login-form-element:last-child {margin-bottom:0;}
.alterna-login-form-element .control-label {display:block;}
.alterna-login-form-element input[type=text],
.alterna-login-form-element input[type=password] {width: 100%;padding: 5px;height: 34px;}
.login-form-wrap #wp-submit {padding:6px 30px;}
.login-account-posts {border-right: 1px solid #e8e8e8;}
.login-description {margin-bottom:20px;}
.login-account-information {text-align: center;}
.login-account-information .usericon {margin-bottom: 20px;}
.login-posts .entry-title {margin:0 0 10px;}

/* = Site Map
-------------------------------------------------------------- */
.sitemap-title i {float: right;line-height: 26px;font-size: 14px;margin: 0;}
.sitemap-element {margin-bottom:20px;}
.sitemap-ul, .sitemap-ul ul {margin: 0;list-style: none;border-left: 2px solid #e8e8e8;padding-left: 26px;}
.sitemap-ul li {list-style: none;}
.sitemap-ul li:before {content: "";width: 14px;border-top: 2px solid #E2E2E2;position: absolute;margin-left: -26px;margin-top: 8px;}

/* = Author Page
-------------------------------------------------------------- */
.author-information {margin-bottom: 20px;width:100%;display: inline-block;background: #f8f8f8;padding: 10px;}
.author-information .gravatar{margin-right:20px;float:left;}
.author-information dl {float:left;margin:0;border-left: #e8e8e8 solid 4px;padding: 0 20px;min-height: 80px;}

/* 	----------------------------------------------------------------------------------------------	
										D. WIDGETS																										
	----------------------------------------------------------------------------------------------	*/
	
/* Blog List */
.shortcode-post-entry {margin-bottom:20px;}
.shortcode-post-entry .post-element-content {float:left;width:100%;margin-bottom:10px;}
.shortcode-post-entry.blog-element .post-content {float:left;width:100%;}
.shortcode-post-entry.blog-element .entry-title {margin: 0 0 10px;}
.shortcode-post-entry.blog-element .entry-date {float:left;}
.shortcode-post-entry.blog-element .comments-link {float:right;}
.shortcode-post-entry i {margin-right:5px;}

.shortcode-post-entry.blog-shortcode-style-2 .post-element-content,
.shortcode-post-entry.blog-shortcode-style-4 .post-element-content {position: relative; overflow:hidden;}
.shortcode-post-entry.blog-shortcode-style-2 .post-element-content img {
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}
.shortcode-post-entry.blog-shortcode-style-2 .post-element-content:hover img {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.shortcode-post-entry.blog-shortcode-style-2 .date,
.shortcode-post-entry.blog-shortcode-style-4 .date {position: absolute;top: 0px;font-size: 12px;left: 0px;background: #7AB80E;
padding: 5px;color: white;text-align: center;line-height: 15px;}

.shortcode-post-entry.blog-shortcode-style-2 .day, .shortcode-post-entry.blog-shortcode-style-2 .month, .shortcode-post-entry.blog-shortcode-style-2 .year, .shortcode-post-entry.blog-shortcode-style-4 .day, .shortcode-post-entry.blog-shortcode-style-4 .month, .shortcode-post-entry.blog-shortcode-style-4 .year {display:inherit;}
.shortcode-post-entry.blog-shortcode-style-2 .post-comments a,
.shortcode-post-entry.blog-shortcode-style-4 .post-comments a {position: absolute;bottom: 0px;right: 0px;padding: 5px 8px;
background: #2a2a2a;color: white;}
.shortcode-post-entry.blog-shortcode-style-2 .post-comments a:hover,
.shortcode-post-entry.blog-shortcode-style-4 .post-comments a:hover {color:#7AB80E;}

.shortcode-post-entry.blog-shortcode-style-3 .entry-title {line-height: 20px;padding-left: 40px;position: relative;min-height:30px;}
.shortcode-post-entry.blog-shortcode-style-3 .post-type {display: inline-block;width: 30px;height: 30px;background: #7AB80E;padding: 5px;
position: absolute;left: 0;top: 0;float: left;line-height: 20px;}
.shortcode-post-entry.blog-shortcode-style-3 .post-type span {width: 20px;height: 20px;line-height: 20px;background-size: 20px 20px;}

.shortcode-post-entry.blog-shortcode-style-4 .post-element-content .post-cover {position:absolute;width:100%;height:100%;background:#000000;top:0px;left:0px;opacity:0;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}
.shortcode-post-entry.blog-shortcode-style-4 .post-element-content:hover .post-cover {opacity:0.7;}
.shortcode-post-entry.blog-shortcode-style-4 .post-element-content .post-element-title {display:none;position: absolute;top: 50%;margin-top: -10px;text-align: center;width: 100%;color: #ffffff;}
.shortcode-post-entry.blog-shortcode-style-4 .post-element-content:hover .post-element-title {display:block;}
.shortcode-post-entry.blog-shortcode-style-4 .more-link {float:right;}

/* = Portfolio Widget
-------------------------------------------------------------- */
.sidebar-portfolio-recent.icon-style .post-type {padding: 5px;width: 34px;height: 34px;background: #7AB80E;text-align: center;color: #ffffff;
font-size: 16px;float: left;}
.sidebar-portfolio-recent.icon-style .post-type span {background-size: 24px 24px;width: 24px;height: 24px;}
.sidebar-portfolio-recent.icon-style .post-content {margin-left: 46px;}
.sidebar-portfolio-recent.icon-style .entry-title {margin:0 0 5px;font-weight:400;}
.sidebar-portfolio-recent.icon-style .portfolio-categories{font-size:12px;font-style:italic;}

.sidebar-portfolio-recent.thumbs-style {display: inline-block;}
.sidebar-portfolio-recent.thumbs-style .post-thumbs {width: 70px;float: left;display: inline-block;}

.sidebar-portfolio-recent.thumbs-style .post-content {margin-left:80px;}
.sidebar-portfolio-recent.thumbs-style .entry-title {margin: 0 0 5px;font-weight:400;}
.sidebar-portfolio-recent.thumbs-style .portfolio-categories{margin-bottom:5px;font-size: 13px;}
.sidebar-portfolio-recent.thumbs-style .portfolio-tags a {font-size: 10px;border: 1px solid #e8e8e8;padding: 2px 4px;margin: 0 5px 5px 0;font-style: italic;border-radius: 3px;}

.sidebar-portfolio-recent.big-thumbs-style .post-content {display: inline-block;width: 100%;}
.sidebar-portfolio-recent.big-thumbs-style .post-content .entry-title {margin: 10px 0 0;font-weight:400;}

/* = Blog Widget
-------------------------------------------------------------- */
.sidebar-blog-recent i {margin-right:5px;font-size:14px;}
.sidebar-blog-recent.icon-style .post-type {padding: 5px;width: 34px;height: 34px;background: #7AB80E;text-align: center;color: #ffffff;
font-size: 16px;float: left;}
.sidebar-blog-recent.icon-style .post-type span {background-size: 24px 24px;width: 24px;height: 24px;}
.sidebar-blog-recent.icon-style .post-content {margin-left: 46px;}
.sidebar-blog-recent.icon-style .entry-title {margin:0 0 5px;font-weight: 400;}
.sidebar-blog-recent.icon-style .comments-link {float:right;}
.sidebar-blog-recent .entry-meta a {color:#888;font-size: 12px;}
.sidebar-blog-recent .entry-meta a:hover {color:#7AB80E;}

.sidebar-blog-recent.thumbs-style {display: inline-block;width: 100%;}
.sidebar-blog-recent.thumbs-style .post-thumbs {width: 70px;float: left;display: inline-block;}

.sidebar-blog-recent.thumbs-style .post-content {margin-left:80px;}
.sidebar-blog-recent.thumbs-style .entry-title {margin: 0 0 5px;font-weight: 400;}
.sidebar-blog-recent.thumbs-style .entry-meta .entry-date {width:100%;float: left;}
.sidebar-blog-recent.thumbs-style .entry-meta .comments-link  {float:right;}

.sidebar-blog-recent.big-thumbs-style .post-content {display: inline-block;}
.sidebar-blog-recent.big-thumbs-style .post-content .entry-title {margin:5px 0 0;}
.sidebar-blog-recent.big-thumbs-style .post-tip .link {top: 50%;left: 50%;position: absolute;margin-left: -20px;margin-top: -20px;background: #7AB80E;padding: 5px;border-radius: 4px;}

.sidebar-blog-recent.big-thumbs-style .post-tip .link,
.sidebar-portfolio-recent.big-thumbs-style .post-tip .link {top: 50%;left: 50%;position: absolute;margin-left: -20px;margin-top: -20px;background: #7AB80E;padding: 5px;border-radius: 4px;}

ul.widget-portfolio-recent li,
ul.widget-blog-recent li {border-bottom: 1px #E8E8E8 solid;margin:0 0 10px;}
.sidebar-portfolio-recent,
.sidebar-blog-recent {padding:0 0 10px;width:100%;}

.footer-top-content ul.widget-portfolio-recent li, .footer-top-content ul.widget-blog-recent li {1px #4C4C4C solid}

/* Widget */
.widget {float: left;margin-bottom: 20px;width: 100%;}
.widget-title {margin: 0px 0px 10px 0px;}
.widget .line {margin: 0 0 10px;}

/* ------- 1. Tags  ------- */
.tagcloud a {display: inline-block;background: #eee;padding: 8px 14px;line-height: 14px;font-size: 12px !important;margin: 0 10px 10px 0;
border-radius: 4px;
	-webkit-transition: background 400ms;
    -moz-transition: background 400ms;
    -o-transition: background 400ms;
    -ms-transition: background 400ms;
    transition: background 400ms;
}
.tagcloud a:hover {background:#f8f8f8;}

/* ------- 2. Button  ------- */
.btn {position:relative;border-radius: 4px;text-shadow: none;box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;background-image: none;outline: 0 !important;border:none;margin:0 0 15px;color:#ffffff;}
.btn:hover {background-image: none;color:#ffffff;text-shadow: none;
	-webkit-transition: background 400ms;
    -moz-transition: background 400ms;
    -o-transition: background 400ms;
    -ms-transition: background 400ms;
    transition: background 400ms;
}
.btn:focus {color:#ffffff;}
.btn.no-margin {margin:0;}
.btn i {margin-right:5px;}
.btn.btn-lg i {margin-right:10px;}

.float-btn {box-shadow: 0 4px 0 #414141;padding-left:26px;padding-right:26px;}
.btn-lg.float-btn {padding-left:34px;padding-right:34px;}
.btn-sm.float-btn {padding-left:20px;padding-right:20px;}
.btn-xs.float-btn {padding-left:15px;padding-right:15px;}

.icon-btn {overflow: hidden;padding-left: 50px;padding-right:12px;}
.icon-btn span {position: absolute;left: 0;top: 0;background: rgba(0,0,0,0.2);padding: 6px 12px;}
.icon-btn:hover span {background: rgba(0,0,0,0.3);}
.icon-btn i, .icon-btn.btn-lg i {margin:0;}

.btn-lg.icon-btn {padding-left: 58px;padding-right:16px;}
.btn-sm.icon-btn {padding-left: 46px;padding-right:10px;}
.btn-xs.icon-btn {padding-left: 26px;padding-right:5px;}
.btn-lg.icon-btn span {padding: 10px 16px;}
.btn-sm.icon-btn span {padding: 5px 10px;}
.btn-xs.icon-btn span {padding: 1px 5px;}

.float-btn:active {margin:1px 0 14px;box-shadow: 0 3px 0 #414141;}
.float-btn.no-margin {margin-bottom:4px;}
.float-btn.no-margin:active {margin:1px 0 3px;}
.float-btn.icon-btn:hover span {background: rgba(0,0,0,0.2);}

.btn-theme-t {color:#7AB80E;}
.btn-theme {background:#7AB80E;}
.btn-theme:hover {background:#5b8f00;}
.float-btn.btn-theme {box-shadow: 0 4px 0 #436a00;}
.float-btn.btn-theme:active {box-shadow: 0 3px 0 #436a00;}

.black-t {color:#333333;}
.black {background:#111111;}
.black:hover {background:#111111;}
.float-btn.black {box-shadow: 0 4px 0 #000000;}
.float-btn.black:active {box-shadow: 0 3px 0 #000000;}

.darkcyan-t {color:#008B8B;}
.darkcyan {background:#008B8B;}
.darkcyan:hover {background:#007272;}
.float-btn.darkcyan {box-shadow: 0 4px 0 #004949;}
.float-btn.darkcyan:active {box-shadow: 0 3px 0 #004949;}

.deepskyblue-t {color:#00BFFF;}
.deepskyblue {background:#00BFFF;}
.deepskyblue:hover {background:#01a4da;}
.float-btn.deepskyblue {box-shadow: 0 4px 0 #004c65;}
.float-btn.deepskyblue:active {box-shadow: 0 3px 0 #004c65;}

.royalblue-t {color:#4169E1;}
.royalblue {background:#4169E1;}
.royalblue:hover {background:#2d54c9;}
.float-btn.royalblue {box-shadow: 0 4px 0 #002288;}
.float-btn.royalblue:active {box-shadow: 0 3px 0 #002288;}

.blueviolet-t {color:#8A2BE2;}
.blueviolet {background:#8A2BE2;}
.blueviolet:hover {background:#7516ce;}
.float-btn.blueviolet {box-shadow: 0 4px 0 #460186;}
.float-btn.blueviolet:active {box-shadow: 0 3px 0 #460186;}

.purple-t {color:#800080;}
.purple {background:#800080;}
.purple:hover {background:#650065;}
.float-btn.purple {box-shadow: 0 4px 0 #4a004a;}
.float-btn.purple:active {box-shadow: 0 3px 0 #4a004a;}

.deeppink-t {color:#FF1493;}
.deeppink {background:#FF1493;}
.deeppink:hover {background:#dd0479;}
.float-btn.deeppink {box-shadow: 0 4px 0 #89014b;}
.float-btn.deeppink:active {box-shadow: 0 3px 0 #89014b;}

.crimson-t {color:#DC143C;}
.crimson {background:#DC143C;}
.crimson:hover {background:#c3082e;}
.float-btn.crimson {box-shadow: 0 4px 0 #83001a;}
.float-btn.crimson:active {box-shadow: 0 3px 0 #83001a;}

.green-t {color:#008000;}
.green {background:#008000;}
.green:hover {background:#006c00;}
.float-btn.green {box-shadow: 0 4px 0 #004600;}
.float-btn.green:active {box-shadow: 0 3px 0 #004600;}

.lawngreen-t {color:#7CFC00;}
.lawngreen {background:#7CFC00;}
.lawngreen:hover {background:#6bd900;}
.float-btn.lawngreen {box-shadow: 0 4px 0 #346901;}
.float-btn.lawngreen:active {box-shadow: 0 3px 0 #346901;}

.yellow-t {color:#f7ee17;}
.yellow {background:#f7ee17;}
.yellow:hover {background:#d8d800;}
.float-btn.yellow {box-shadow: 0 4px 0 #7e7e01;}
.float-btn.yellow:active {box-shadow: 0 3px 0 #7e7e01;}

.gold-t {color:#FFD700;}
.gold {background:#FFD700;}
.gold:hover {background:#e0bd00;}
.float-btn.gold {box-shadow: 0 4px 0 #937c01;}
.float-btn.gold:active {box-shadow: 0 3px 0 #937c01;}

.orange-t {color:#FFA500;}
.orange {background:#FFA500;}
.orange:hover {background:#dd9002;}
.float-btn.orange {box-shadow: 0 4px 0 #764c00;}
.float-btn.orange:active {box-shadow: 0 3px 0 #764c00;}

.orangered-t {color:#FF4500;}
.orangered {background:#FF4500;}
.orangered:hover {background:#e03e02;}
.float-btn.orangered {box-shadow: 0 4px 0 #822402;}
.float-btn.orangered:active {box-shadow: 0 3px 0 #822402;}

.chocolate-t {color:#D2691E;}
.chocolate {background:#D2691E;}
.chocolate:hover {background:#bf5102;}
.float-btn.chocolate {box-shadow: 0 4px 0 #6e2e00;}
.float-btn.chocolate:active {box-shadow: 0 3px 0 #6e2e00;}

.red-t {color:#ff0000;}
.red {background:#ff0000;}
.red:hover {background:#e60101;}
.float-btn.red {box-shadow: 0 4px 0 #700101;}
.float-btn.red:active {box-shadow: 0 3px 0 #700101;}


/* ------- 3. Home Post Widget  ------- */
.blog-big-widget {border: 1px #E8E8E8 solid;float: left;margin-bottom:10px;padding: 10px;}
.blog-big-widget .blog-big-widget-element {float:left;width:100%;margin-bottom:10px;}
.blog-big-widget .blog-big-widget-information {float:left;width:100%;}
.blog-big-widget .post-type {line-height: 10px;background: #7AB80E;float: left;padding: 10px 10px;margin-right: 10px;}
.blog-big-widget .post-meta div {float:left;margin-right:10px;}
.blog-big-widget .post-meta i {margin-right:5px;}
.blog-big-widget .post-content {margin-left:60px;}
.blog-big-widget .post-excerpt {margin-top:10px;}
.blog-big-widget .more-link {float:right;}
.blog-big-widget .blog-big-widget-information h4 {margin: 0px 0px 10px 0px;}
.blog-big-widget .video-youtube, .blog-big-widget .video-vimeo, .blog-big-widget .sound-sl ,
.blog-big-widget .post-quote-entry , .blog-big-widget .flexslider.alterna-fl{
	margin-bottom: 0px;
}
.blog-big-widget .sound-sl {margin-bottom: -8px;}

/* ------- 4. Portfolio List Widget  ------- */
.portfolio-list-widget .portfolio-content {padding:5px 0px;border:none !important;}
.portfolio-list-widget .portfolio-content h5 {line-height:30px;}
.portfolio-list-widget .portfolio-content .portfolio-type  {margin-right:5px;}

/* ------- 5. Search Form  ------- */
.sidebar-searchform , .widget_product_search #searchform {float: left;position: relative;width: 100%;margin: 0px;}
.sidebar-searchform > div , .widget_product_search #searchform > div {padding: 0 33px 0 0;}
.sidebar-searchform input[type=text] , .widget_product_search #searchform input[type=text]{width: 100%;padding: 6px 5px;margin: 0px;}
.sidebar-searchform input[type=submit] ,
.widget_product_search #searchform input[type=submit]{
	top: 0px;
	right: 0px;
	padding: 0;
	position: absolute;
	width: 34px;
	height: 34px;
	border: none;
	outline:0 !important;
	background-color: #7AB80E;
	background-image: url('img/search_icon.png');
	background-size: 26px 26px;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-transition: background-color 500ms;
	-moz-transition: background-color 500ms;
	-o-transition: background-color 500ms;
	transition: background-color 500ms;
}
.sidebar-searchform input[type=submit]:hover ,
.widget_product_search #searchform input[type=submit]:hover {background-color:#1a1a1a;}

/* ------- 6. Archive  ------- */

.widget_calendar table {width:100%;}
.widget_archive ul ,
.widget_login ul ,
.widget_categories ul ,
.widget_product_categories ul ,
.widget_nav_menu ul ,
.widget_alternaportfoliocategorywidget ul ,
.widget_recent_entries ul ,
.widget_pages ul ,
.widget_recent_comments ul ,
.widget_meta ul ,
.widget_links ul {
	list-style: none outside none;
	margin:0px;
}

.widget_archive ul  li , 
.widget_login ul li ,
.widget_categories ul li ,
.widget_product_categories ul li ,
.widget_nav_menu ul li ,
.widget_alternaportfoliocategorywidget ul li ,
.widget_recent_entries ul li ,
.widget_pages ul li ,
.widget_recent_comments ul li ,
.widget_meta ul li ,
.widget_links ul li {
	float:left;
	width:100%;
}

.widget_archive ul li a , 
.widget_login ul li a ,
.widget_categories ul li a ,
.widget_product_categories ul li a ,
.widget_nav_menu ul li a ,
.widget_alternaportfoliocategorywidget ul li a ,
.widget_recent_entries ul li a ,
.widget_pages  ul li a ,
.widget_recent_comments ul li ,
.widget_meta ul li a ,
.widget_links ul li a {
	float: left;
	width: 100%;
	padding: 8px 10px;
	line-height: 20px;
	border-bottom: 1px #f2f2f2 solid;
	margin-bottom: 0;
}

.footer-top-content .widget_archive ul li a , 
.footer-top-content .widget_login ul li a ,
.footer-top-content .widget_categories ul li a ,
.footer-top-content .widget_product_categories ul li a ,
.footer-top-content .widget_nav_menu ul li a ,
.footer-top-content .widget_alternaportfoliocategorywidget ul li a ,
.footer-top-content .widget_recent_entries ul li a ,
.footer-top-content .widget_pages  ul li a ,
.footer-top-content .widget_recent_comments ul li ,
.footer-top-content .widget_meta ul li a ,
.footer-top-content .widget_links ul li a {
	border-bottom: 1px #4C4C4C solid;
	background: #333;
	color:#999 !important;
}

.footer-top-content .widget_tag_cloud .tagcloud a {
	background: #333;
	color:#999 !important;
}
.footer-top-content .widget_tag_cloud .tagcloud a:hover {
	background: #333;
	color:#999 !important;
}

.widget_archive ul li a:hover , 
.widget_login ul li a:hover ,
.widget_categories ul li a:hover ,
.widget_product_categories ul li a:hover ,
.widget_nav_menu ul li a:hover ,
.widget_alternaportfoliocategorywidget ul li a:hover ,
.widget_recent_entries ul li a:hover ,
.widget_pages  ul li a:hover ,
.widget_recent_comments ul li:hover ,
.widget_meta ul li a:hover ,
.widget_links ul li a:hover  {
	background: #F7F7F7;
}

.footer-top-content .widget_archive ul li a:hover , 
.footer-top-content .widget_login ul li a:hover ,
.footer-top-content .widget_categories ul li a:hover ,
.footer-top-content .widget_product_categories ul li a:hover ,
.footer-top-content .widget_nav_menu ul li a:hover ,
.footer-top-content .widget_alternaportfoliocategorywidget ul li a:hover ,
.footer-top-content .widget_recent_entries ul li a:hover ,
.footer-top-content .widget_pages  ul li a:hover ,
.footer-top-content .widget_recent_comments ul li:hover ,
.footer-top-content .widget_meta ul li a:hover ,
.footer-top-content .widget_links ul li a:hover ,
.footer-top-content .widget_tag_cloud .tagcloud a:hover {
	background: #7AB80E;
	color:#fff !important;
}

.footer-top-content .widget_recent_comments ul li a:hover {
	color:#5b8f00 !important;
}

.widget_categories li ul a , 
.widget_product_categories li ul a ,
.widget_nav_menu li ul a ,
.widget_alternaportfoliocategorywidget li ul a { 
	padding-left:25px;
}
.widget_categories li ul li ul a , 
.widget_product_categories li ul li ul a ,
.widget_nav_menu li ul li ul a ,
.widget_alternaportfoliocategorywidget li ul li ul a{ 
	padding-left:50px;
}

.widget_archive ul li a:before , 
.widget_login ul li a:before ,
.widget_categories ul li a:before ,
.widget_product_categories ul li a:before ,
.widget_nav_menu ul li a:before ,
.widget_alternaportfoliocategorywidget ul li a:before ,
.widget_recent_entries ul li a:before ,
.widget_pages ul li a:before ,
.widget_recent_comments ul li:before ,
.widget_links ul li a:before{
	font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    height: auto;
    line-height: normal;
    margin-top: 0;
	margin-right:10px;
    text-decoration: inherit;
    width: auto;
}

.widget_archive ul li a:before {content: "";}
.widget_login ul li a:before ,
.widget_categories ul li a:before ,
.widget_product_categories ul li a:before ,
.widget_nav_menu ul li a:before ,
.widget_alternaportfoliocategorywidget ul li a:before {
	content: "";
}
.widget_recent_entries ul li a:before {content: "";}
.widget_pages ul li a:before {content: "";}
.widget_recent_comments ul li:before {content: "";}
.widget_links ul li a:before {content: "";}

/* 	----------------------------------------------------------------------------------------------	
										E - EXTRAS																					
	----------------------------------------------------------------------------------------------	*/

/* = Shortcode Element Style
-------------------------------------------------------------- */

/* ------- 1. Icon  ------- */
.alterna-sc-icon {margin-bottom:10px;}
.alterna-sc-icon.center {text-align:center;}
.alterna-sc-icon.right {text-align:right;}
.alterna-sc-icon span {padding: 5px;height: 30px;width: 30px;text-align: center;line-height: 20px;border-radius: 30px;display: inline-block;color: #ffffff;
	-webkit-transition: 600ms;
	-moz-transition: 600ms;
	-o-transition: 600ms;
	transition: 600ms;
}
.alterna-sc-icon span:hover {
	-moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
}
.alterna-sc-icon span.fa-lg {padding: 9px;line-height: 24px;width: 42px;height: 42px;border-radius: 50px;}
.alterna-sc-icon span.fa-2x {padding: 10px;line-height: 28px;width: 48px;height: 48px;border-radius: 60px;}
.alterna-sc-icon span.fa-3x {padding: 15px;line-height: 42px;width: 72px;height: 72px;border-radius: 70px;}
.alterna-sc-icon span.fa-4x {padding: 20px;line-height: 56px;width: 96px;height: 96px;border-radius: 80px;}
.alterna-sc-icon span.fa-5x {padding: 20px;  line-height: 70px;width: 110px;height: 110px;border-radius: 90px;}

/* ------- 2. Call To Action  ------- */
.call-to-action {text-align:center;margin-bottom:10px;}
.call-to-action-title {margin:0px 0px 10px;font-weight: bold;}
.call-to-action .desc  {font-size:15px;}
.call-to-action .desc.big {font-size:20px;}
.call-to-action.bar {text-align:left;padding:15px 25px;border: 2px #f2f2f2 solid;background: #fff;position:relative;margin-bottom:10px;}
.call-to-action.bar .btn {top:50%;position:absolute;right:20px;margin-top:-22px;}
.call-to-action.bar .call-to-action-content {padding-right:240px;}
.call-to-action.bar .btn {margin-top: -15px;}
.call-to-action.bar .btn.btn-lg {margin-top: -25px;}
.call-to-action.bar p {margin:0px;}

/* ------- 3. Tabs  ------- */
.tabs {margin-bottom:10px;position:relative;float: left;width: 100%;}
.tabs.center {text-align:center;}
.tabs.right {text-align:right;}
.tabs .tabs-nav {float: left;width: 100%;margin: 0 0 -1px;position:relative;z-index:2;}
.tabs .tabs-nav li {background-color: #e8e8e8;cursor:pointer;line-height:20px;padding: 8px 14px;border-radius: 4px 4px 0 0;margin: 0 1px;
	-webkit-transition: background-color 600ms;
	-moz-transition: background-color 600ms;
	-o-transition: background-color 600ms;
	transition: background-color 600ms;
}
.tabs .tabs-nav li:hover {background-color: #f4f4f4;}
.tabs .tabs-nav li.current {background-color: #f8f8f8;border-bottom: 1px #7AB80E solid;}
.tabs .tabs-container {border-top: 1px #e2e2e2 solid;overflow: hidden;padding: 10px 0;float:left;width:100%;text-align: left;}
.tabs .tabs-nav li i {margin-right:5px;}

/* ------- 4. SideTabs  ------- */
.sidetabs {float: left;width: 100%;margin-bottom: 10px;}
.sidetabs .sidetabs-nav {float: left;width: 200px;}
.sidetabs.right .sidetabs-nav {float: right;}
.sidetabs .sidetabs-nav li {border: 1px solid #e3e3e3;padding: 8px 15px;cursor:pointer;color:#777;margin:0 0 -1px;}
.sidetabs .sidetabs-nav li i {margin-right:5px;}
.sidetabs.left .sidetabs-nav li {border-left: none; }
.sidetabs.right .sidetabs-nav li {border-right: none; }
.sidetabs .sidetabs-nav li.current {cursor:auto;color:#444;}
.sidetabs.left .sidetabs-nav li.current {border-right: 1px solid #7AB80E;}
.sidetabs.right .sidetabs-nav li.current {border-left: 1px solid #7AB80E;}
.sidetabs.left .sidetabs-container {margin-left:220px;}
.sidetabs.right .sidetabs-container {margin-right:220px;}

/* ------- 5. Client Testimonials  ------- */
.testimonials {margin-bottom: 15px;position:relative;float: left;width: 100%;}
.testimonials .testimonials-prev {height: 20px;width: 20px;background: #E8E8E8;float: left;padding-left: 7px;position: absolute;bottom: 5px;right: 30px;cursor:pointer;
}
.testimonials .testimonials-next {height: 20px;width: 20px;background: #E8E8E8;position: absolute;bottom: 5px;right: 5px;padding-left: 8px;cursor:pointer;
}
.testimonials .testimonials-content {border: 1px #E8E8E8 solid;background: #F9F9F9;border-radius: 4px;padding: 25px;position: relative;color: #666;font-style: italic;
}
.testimonials.testimonials-avatar .testimonials-content {margin-left: 90px;min-height: 30px;}
.testimonials .testimonials-content .fa-quote-left {position: absolute;left: 10px;top: 10px;}
.testimonials .testimonials-content .fa-quote-right {position: absolute;right: 10px;bottom: 10px;}
.testimonials .testimonials-content .testimonials-arraw {
	background: url(img/testimonials_arraw.png) no-repeat;
	width: 30px;
	height: 20px;
	display: block;
	position: absolute;
	left: 20px;
	bottom: -18px;
}
.testimonials .testimonials-name {display: block;font-size: 12px;line-height: 16px;text-align: left;font-weight: bold;float: left;}
.testimonials .testimonials-name .testimonials-icon {margin-top: 15px;height: 26px;line-height: 26px;padding-left: 26px;}
.testimonials.testimonials-avatar .testimonials-name .testimonials-icon {margin-left: 90px;}
.testimonials .testimonials-name .testimonials-icon .fa-user {margin-right: 10px;font-size: 16px;line-height: 20px;}
.testimonials .testimonials-avatar {float: left;width: 80px;height: 80px;overflow: hidden;border-radius: 80px;}
.testimonials .testimonials-job {color:#a1a1a1;margin-left:5px;}

.testimonials.testimonials-wide {position:relative;padding: 40px 20px 10px;}
.testimonials.testimonials-wide.testimonials-show-nav {padding: 40px 20px 30px;}
.testimonials.testimonials-wide .testimonials-nav {padding-bottom:40px;}
.testimonials.testimonials-wide .testimonials-prev {height: 20px;width: 20px;background: #E8E8E8;float: left;padding-left: 7px;position: absolute;top: 100%;left: 50%;cursor: pointer;margin-left: -30px;margin-top: -20px;}
.testimonials.testimonials-wide .testimonials-next {height: 20px;width: 20px;background: #E8E8E8;position: absolute;top: 100%;right: 50%;padding-left: 8px;cursor: pointer;margin-right: -25px;margin-top: -20px;}
.testimonials.testimonials-wide .testimonials-content {position: relative;color: #666;font-style: italic;text-align: center;margin-bottom:10px;border:none;background:none;border-radius:0;}
.testimonials.testimonials-wide .fa-quote-left {position: absolute;left: 50%;top: 10px;font-size: 24px;width: 30px;text-align: center;
display: inline-block;margin-left: -15px;color: #e5e5e5;}
.testimonials.testimonials-wide .testimonials-content .fa-quote-left, 
.testimonials.testimonials-wide .testimonials-content .fa-quote-right, 
.testimonials.testimonials-wide .testimonials-content .testimonials-arraw {display:none;}
.testimonials.testimonials-wide .testimonials-name {display: block;font-size: 12px;line-height: 16px;text-align: center;font-weight: bold;color: #a1a1a1;float: none;}
.testimonials.testimonials-wide .testimonials-job {margin-left: 5px;}

/* ------- 6. Dropcap  ------- */
.dropcap.dropcap-default , .dropcap.dropcap-text {float:left;display: inline-block;text-transform: uppercase;font-weight: bold;}
.dropcap.dropcap-default {width: 38px;line-height: 26px;height: 38px;padding: 6px;margin-right: 10px;margin-bottom: 10px;font-size: 20px;text-align: center;border-radius: 40px;}
.dropcap.dropcap-text {font-size: 30px;margin: 0 10px 0 0;line-height: 36px;}

/* ------- 7. Bullets  ------- */
.alterna-bullets {margin-bottom:10px;}
.alterna-bullet {padding-left: 36px;position:relative;margin-bottom:5px;line-height: 26px;font-size: 14px;font-weight: 400;}
.alterna-bullet-icon {position:absolute;top: 50%;left: 0;margin-top: -13px;display: inline-block;padding: 3px;width: 26px;height: 26px;line-height: 20px;font-size: 14px;text-align: center;border-radius: 30px;color: #ffffff;}
.alterna-bullets.big .alterna-bullet {padding-left: 46px;line-height: 36px;font-size: 20px;font-weight: 400;}
.alterna-bullets.big .alterna-bullet-icon {margin-top: -18px;padding: 8px;width: 36px;height: 36px;line-height: 20px;font-size: 18px;}

/* ------- 8. Price Table  ------- */
.alterna-price {text-align: center;border-radius: 10px;background: #fafafa;margin-bottom:10px;}
.alterna-price.free {background:#EBFFE0;}
.alterna-price.recommend {background:#FFE2E2;}
.alterna-price-header {padding: 20px 10px;}
.alterna-price-header .price-title {margin: 0 0 10px;font-weight: 400;}
.alterna-price-header .price-num {font-weight: bold;font-size: 60px;margin: 0 0 10px;}
.alterna-price-content {padding: 30px 10px;background: #f2f2f2;}
.alterna-price-content ul {list-style: none;margin: 0;}
.alterna-price-content ul li {margin:0 0 5px;}
.alterna-price-footer {padding: 20px 10px;}

/* ------- 9. Service  ------- */
.alterna-service {overflow: hidden;margin-bottom:10px;}
.alterna-service.center {text-align: center;}
.alterna-service.default_bg, .alterna-service.content_bg {background: #f3f3f3;border-radius: 10px;}
.alterna-service.left .alterna-service-img-content {padding: 15px;width: 80px;float: left;}
.alterna-service.left.alterna-service-icon-no-bg .alterna-service-img-content {padding: 0;width: 50px;float: left;}
.alterna-service.left.default_bg {padding:10px;}
.alterna-service.center .alterna-service-img-content {padding: 30px 30px 15px;}
.alterna-service.center.alterna-service-icon-no-bg .alterna-service-img-content {padding: 20px 20px 0px;}
.alterna-service-icon {display: inline-block;border-radius: 70px;text-align: center;}
.alterna-service-icon-bg .alterna-service-icon {color:#ffffff;
	-webkit-transition: 700ms;
	-moz-transition: 700ms;
	-o-transition: 700ms;
	transition: 700ms;
	-moz-transform: rotate(0deg)  scale(0.8);
	-webkit-transform: rotate(0deg)  scale(0.8);
	-o-transform: rotate(0deg)  scale(0.8);
	transform: rotate(0deg)  scale(0.8);
}
.alterna-service.left .alterna-service-icon {padding: 10px;height: 50px;width: 50px;font-size: 30px;line-height: 30px;}
.alterna-service.left.alterna-service-icon-no-bg .alterna-service-icon {padding: 0;height: 30px;width: 30px;font-size: 30px;line-height: 30px;}
.alterna-service.center .alterna-service-icon {padding: 15px;height: 100px;width: 100px;font-size: 60px;line-height: 70px;}
.alterna-service.center.alterna-service-icon-no-bg .alterna-service-icon {padding: 0;height: 50px;width: 50px;font-size: 40px;line-height: 50px;}
.alterna-service.alterna-service-icon-bg:hover .alterna-service-icon {
	-moz-transform: rotate(360deg) scale(1.2);
	-webkit-transform: rotate(360deg)  scale(1.2);
	-o-transform: rotate(360deg)  scale(1.2);
	transform: rotate(360deg)  scale(1.2);
}
.alterna-service.left .alterna-service-content {padding: 15px;margin-left: 80px;}
.alterna-service.left.alterna-service-icon-no-bg .alterna-service-content {padding: 0;margin-left: 50px;}
.alterna-service.center .alterna-service-content {padding: 15px;}
.alterna-service.content_bg .alterna-service-content {background: #dfdfdf;}
.alterna-service-title {margin:0 0 10px;}
.alterna-service-entry-content {margin-bottom:15px;}

/* ------- 10. History  ------- */
.history {position: relative;overflow: hidden;padding-bottom: 10px;margin-bottom: 5px;}
.history-date-content {width: 120px;float: left;text-align: center;color: #ffffff;}
.history .history-date{font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight: bold;float: left;padding: 5px 5px;width: 100px;z-index: 1;position: relative;border-radius: 4px;font-size: 12px;line-height: 20px;
-webkit-transition: 500ms;
-moz-transition: 500ms;
-o-transition: 500ms;
transition: 500ms;}
.history .history-line {position: absolute;height: 100%;width: 1px;margin-left: 50px;margin-top: 30px;}
.history .history-hor-line {position: absolute;height: 1px;width: 10px;margin-left: 100px;top: 50%;}
.history .history-start-point {position: absolute;height: 12px;width: 12px;border-radius: 10px;left: 44px;bottom: 0px;}
.history .history-start-point span {width: 6px;height: 6px;background: #ffffff;float: left;border-radius: 10px;margin-left: 3px;margin-top: 3px;}
.history .history-content {margin-left: 120px;}
.history .history-title {margin: 0 0 10px;font-weight:400;line-height: 30px;}

/* ------- 11. Accordion  ------- */
.alterna-accordion {margin-bottom:10px;}
.alterna-accordion .accordion-panel {margin-bottom: 10px;background: none;border: none;border-radius: 0;-webkit-box-shadow: none;box-shadow: none;border: 1px solid #e8e8e8;padding: 10px;border-radius: 4px;}
.alterna-accordion .accordion-title {line-height: 26px;margin: 0;}
.alterna-accordion .accordion-title  a {position: relative;padding-left: 34px;display: block;}
.alterna-accordion .accordion-icon {font-size: 14px;position: absolute;left: 0;top: 50%;margin-top: -13px;width: 26px;height: 26px;color: #ffffff;padding: 3px 5px;text-align: center;line-height: 20px;border-radius: 4px;}
.alterna-accordion .accordion-icon i{margin:0;}
.alterna-accordion .accordion-heading .fa-plus {display:none;}
.alterna-accordion .accordion-heading .fa-minus {display:inline-block;}
.alterna-accordion .accordion-heading .collapsed .fa-plus {display:inline-block;}
.alterna-accordion .accordion-heading .collapsed .fa-minus {display:none;}
.alterna-accordion .accordion-body {padding: 10px;}
.alterna-accordion .accordion-collapse {margin-top: 10px;background: #efefef;border-radius: 4px;}
.alterna-toggle {border: 1px solid #e8e8e8;padding: 10px;border-radius: 4px;}

/* ------- 12. Google Map  ------- */
.map_canvas div div.gmnoprint div div img{max-width:none;}
.map_canvas div div img { border: none !important; max-width: none !important;}
.map_canvas {margin-bottom:20px;}
.map-info-window {
	background:rgba(255,255,255,0.8);
	padding: 10px;
	border: 1px solid #CCC;
	margin-top: 8px;
	padding: 10px;
	border-radius: 3px;
	-webkit-box-shadow: 2px 2px 5px -2px #CCC;
	box-shadow: 2px 2px 5px -2px #CCC;
	-webkit-border-radius: 3px;
}
.map-title {margin: 0 0 10px;color: #ffffff;padding: 5px;background:rgba(0,0,0,0.7);}
.map-content {color:#454545;}
.map-content i {text-align:center;width:20px;}

.map-info-window.black {border:none;border-bottom:1px solid #CCC;background:rgba(0,0,0,0.8);padding:0px;border-radius:0 0 3px 3px;}
.map-info-window.black .map-title {border-bottom:1px solid #000;padding:8px 5px;}
.map-info-window.black .map-content {color:#ddd;padding:0 5px 10px}
.map-info-window.black a {color:#fff;}
.map-info-window.black a:hover {color:#7AB80E;}

.map-info-window.white {border:none;border-bottom:1px solid #CCC;background:rgba(255,255,255,0.8);padding:0px;border-radius:0 0 3px 3px;}
.map-info-window.white .map-title {padding:8px 5px;background:rgba(255,255,255,0.8);color:#333333;border-bottom:1px solid #eee;}
.map-info-window.white .map-content {color:#666;padding:0 5px 10px}

/* ------- 13. Skills  ------- */
.skills {margin: 0;}
.skills .skill-element {height: 28px;position: relative;background: #f2f2f2;margin-bottom: 10px;border-radius: 4px;overflow: hidden;}
.skills .skill-bg {border-radius: 4px;position: absolute;	width: 0%;	height: 100%;-webkit-transition: 500ms;	-moz-transition: 500ms;	-o-transition: 500ms;
transition: 500ms;}
.skills .skill-name {position: absolute;left: 10px;	color:#ffffff;line-height: 28px;}
.skills .skill-progress {position: absolute;top: 2px;right: 10px;color: #ffffff;line-height: 20px;background: rgba(0,0,0,0.3);border-radius: 4px;padding: 2px 5px;}


/* ------- 14. Clients  ------- */
.clients {position: relative;overflow: hidden;margin: 20px 0 !important;}
.clients .clients-elements {display: inline-block;width: 100%;}
.client-arrow-left, .client-arrow-right {position: absolute;display:none;z-index: 10;color:#ffffff;
	top: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
	background: #242424;
	border-radius: 4px;
	padding: 5px;
	margin-top: -15px;cursor: pointer; opacity:0.5;
	-webkit-transition: 600ms;
	-moz-transition: 600ms;
	-o-transition: 600ms;
	transition: 600ms;
}
.client-arrow-left:hover, .client-arrow-right:hover {opacity:1;}
.client-arrow-left i, .client-arrow-right i {margin:0;}
.client-arrow-left {left:0;}
.client-arrow-right {right:0;}
.clients .client-element {text-align:center;display: inline-block;width: 100%;}
.clients .client-element .client-content {opacity:0.6;
	-webkit-transition: 600ms;
	-moz-transition: 600ms;
	-o-transition: 600ms;
	transition: 600ms;
}
.clients .client-element:hover .client-content {opacity:1;}

/* ------- 15. Team  ------- */
.team {margin-bottom:10px;text-align:center;padding:10px;}
.team .team-avatar {display:inline-block;margin-bottom:10px;padding:5px;border-radius: 80px;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}
.team .team-avatar img {max-width: 120px;border-radius: 60px;}
.team .team-user-info .team-title, .team .team-user-info .team-job {margin:0 0 5px;font-weight: 400;}
.team .team-user-info .team-job {color: #222;font-weight: bold;}
.team .team-content {margin: 0 0 10px;padding: 5px 0;border-top: 1px #E8E8E8 solid;border-radius: 4px;}
.team .team-socials a {width: 30px;padding: 5px;height: 30px;display: inline-block;background: #ffffff;border: 1px solid #e8e8e8;line-height: 20px;margin: 0 5px;border-radius: 4px;}

/* = Plugin
-------------------------------------------------------------- */

/* ------- 1. Flexslider  ------- */
.flexslider.alterna-fl {overflow:hidden;border:none;-webkit-border-radius: 0px;-moz-border-radius: 0px;-o-border-radius: 0px;border-radius: 0px;box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;-o-box-shadow: none;margin-bottom:0px;}
.flexslider.alterna-fl .flex-control-nav {bottom:5px;}
.flexslider.alterna-fl .flex-direction-nav a {opacity:1;height: 50px;margin: -25px 0px 0px;background-color: #000000;background-size:30px 30px;background-position:center !important;background-repeat:no-repeat;}
.flexslider.alterna-fl .flex-direction-nav a:hover {background-color: #7AB80E;}
.flexslider.alterna-fl .flex-prev {background-image:url('img/custom/icon_chevron_left.png');}
.flexslider.alterna-fl .flex-next {background-image:url('img/custom/icon_chevron_right.png');}
.flexslider.alterna-fl:hover .flex-prev {left:0px;border-radius:0 4px 4px 0;}
.flexslider.alterna-fl:hover .flex-next {right:0px;border-radius:4px 0 0 4px;}
.flexslider.alterna-fl.touch .flex-prev {left:0px !important;}
.flexslider.alterna-fl.touch .flex-next {right:0px !important;}

/* ------- 2. fancyBox ------- */
.fancybox-overlay {z-index:9000;}	
.fancybox-opened {z-index: 9030;}
#fancybox-thumbs {z-index: 9050;}

/* = Custom Icons
-------------------------------------------------------------- */
[class^="big-icon-"],
[class*=" big-icon-"] {
  display: inline-block;
  width: 30px;
  height: 30px;
  *margin-right: .3em;
  line-height: 30px;
  vertical-align: text-top;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size:30px 30px;
}

.big-icon-link { background-image:url('img/custom/icon_link.png'); }
.big-icon-preview { background-image:url('img/custom/icon_preview.png'); }
.big-icon-video { background-image:url('img/custom/icon_video.png'); }
.big-icon-music { background-image:url('img/custom/icon_music.png'); }
.big-icon-picture { background-image:url('img/custom/icon_img.png'); }
.big-icon-slideshow { background-image:url('img/custom/icon_gallery.png'); }
.big-icon-file { background-image:url('img/custom/icon_file.png'); }
.big-icon-quote { background-image:url('img/custom/icon_quote.png'); }

/* alterna social */
.alterna-social a {
	display: block;
	background-color: #eee;

	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}
.alterna-social.social-circle a {border-radius:40px;}
.alterna-social .alterna-icon-twitter:hover {background-color:#48c4d2 !important;}
.alterna-social .alterna-icon-facebook:hover {background-color:#3b5998 !important;}
.alterna-social .alterna-icon-google-plus:hover {background-color:#d94a39 !important;}
.alterna-social .alterna-icon-dribbble:hover {background-color:#ef5b92 !important;}
.alterna-social .alterna-icon-pinterest:hover {background-color:#cb2027 !important;}
.alterna-social .alterna-icon-flickr:hover {background-color:#f1628b !important;}
.alterna-social .alterna-icon-skype:hover {background-color:#18b7f1 !important;}
.alterna-social .alterna-icon-youtube:hover {background-color:#f45750 !important;}
.alterna-social .alterna-icon-vimeo:hover {background-color:#62a0ad !important;}
.alterna-social .alterna-icon-linkedin:hover {background-color:#71b2d0 !important;}
.alterna-social .alterna-icon-digg:hover {background-color:#2882c6 !important;}
.alterna-social .alterna-icon-deviantart:hover {background-color:#d0de21 !important;}
.alterna-social .alterna-icon-behance:hover {background-color:#18a3fe !important;}
.alterna-social .alterna-icon-forrst:hover {background-color:#5b9a68 !important;}
.alterna-social .alterna-icon-xing:hover {background-color:#006567 !important;}
.alterna-social .alterna-icon-lastfm:hover {background-color:#d21309 !important;}
.alterna-social .alterna-icon-rss:hover {background-color:#ff6c00 !important;}
.alterna-social .alterna-icon-instagram:hover {background-color:#517fa4 !important;}
.alterna-social .alterna-icon-stumbleupon:hover {background-color:#eb4924 !important;}
.alterna-social .alterna-icon-picasa:hover {background-color:#8a66a3 !important;}
.alterna-social .alterna-icon-email:hover {background-color:#4fbaf8 !important;}

[class^="alterna-icon-"] {
	width: 32px;
	height: 32px;
	background-image:url('img/socials/socials.png');
	background-repeat: no-repeat;
	background-size: 320px 192px;
}

.alterna-icon-behance { background-position:0px 0px; }
.alterna-icon-deviantart { background-position:-32px 0px;  }
.alterna-icon-digg { background-position:-64px 0px; }
.alterna-icon-dribbble {  background-position:-96px 0px; }
.alterna-icon-facebook { background-position:-128px 0px; }
.alterna-icon-flickr { background-position:-160px 0px; }
.alterna-icon-forrst { background-position:-192px 0px; }
.alterna-icon-google-plus { background-position:-224px 0px; }
.alterna-icon-lastfm {  background-position:-256px 0px; }
.alterna-icon-linkedin {  background-position:-288px 0px; }
.alterna-icon-pinterest { background-position:0px -64px; }
.alterna-icon-rss { background-position:-32px -64px; }
.alterna-icon-skype { background-position:-64px -64px; }
.alterna-icon-twitter { background-position:-96px -64px; }
.alterna-icon-vimeo { background-position:-128px -64px; }
.alterna-icon-xing { background-position:-160px -64px; }
.alterna-icon-youtube { background-position:-192px -64px; }
.alterna-icon-instagram { background-position:-224px -64px; }
.alterna-icon-stumbleupon { background-position:-256px -64px; }
.alterna-icon-picasa { background-position:-288px -64px; }
.alterna-icon-email { background-position:0px -128px; }

.alterna-icon-behance:hover { background-position:0px -32px; }
.alterna-icon-deviantart:hover { background-position:-32px -32px;}
.alterna-icon-digg:hover { background-position:-64px -32px; }
.alterna-icon-dribbble:hover {  background-position:-96px -32px; }
.alterna-icon-facebook:hover { background-position:-128px -32px; }
.alterna-icon-flickr:hover { background-position:-160px -32px; }
.alterna-icon-forrst:hover { background-position:-192px -32px; }
.alterna-icon-google-plus:hover { background-position:-224px -32px; }
.alterna-icon-lastfm:hover {  background-position:-256px -32px; }
.alterna-icon-linkedin:hover {  background-position:-288px -32px; }
.alterna-icon-pinterest:hover { background-position:0px -96px; }
.alterna-icon-rss:hover { background-position:-32px -96px; }
.alterna-icon-skype:hover { background-position:-64px -96px; }
.alterna-icon-twitter:hover { background-position:-96px -96px; }
.alterna-icon-vimeo:hover { background-position:-128px -96px; }
.alterna-icon-xing:hover { background-position:-160px -96px; }
.alterna-icon-youtube:hover { background-position:-192px -96px; }
.alterna-icon-instagram:hover { background-position:-224px -96px; }
.alterna-icon-stumbleupon:hover { background-position:-256px -96px; }
.alterna-icon-picasa:hover { background-position:-288px -96px; }
.alterna-icon-email:hover { background-position:0px -160px; }

/* Bootstrap */

/* pagination */
.pagination {-webkit-box-shadow:none;-moz-box-shadow: none;box-shadow: none;}
.pagination > li > a, .pagination > li > span {font-family: Helvetica, Arial, sans-serif  !important;border-radius: 3px;padding: 6px 12px;border: none;margin-right: 10px;margin-bottom: 10px;}
.pagination > li > a {border: 1px solid #ddd;color:#222222;background:#ffffff;}
.pagination > li > span {color:#999;}
.pagination>li>a:hover, .pagination>li>a:focus {background:#f5f5f5;color:#7AB80E;border: 1px solid #7AB80E;}
.pagination>li>span:hover, .pagination>li>span:focus {background:none;border:none;color:#999;}
.pagination >li:first-child>a, .pagination >li:first-child>span {border-radius: 4px;}
.pagination >li:last-child>a, .pagination >li:last-child>span {border-radius: 4px;margin-right: 0px;}
.pagination-centered {text-align:center;}

.the-icons {list-style-type: none;margin-left: 0px;}
.the-icons i {width:20px;text-align:center;display:inline-block;margin-right:5px;}

/* contact form 7 */
.wpcf7 .wpcf7-radio .wpcf7-list-item input[type='radio'] ,
.wpcf7 .wpcf7-checkbox .wpcf7-list-item input[type='checkbox'] {margin:0;}
.wpcf7 .wpcf7-submit {padding: 8px 18px;background: #7AB80E;color: #ffffff;border: none;border-radius: 4px;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}
.wpcf7 .wpcf7-submit:hover {background:#5b8f00;color:#ffffff;}

/* WordPress SEO by Yoast */
.yoast_breadcrumbs {margin:0;}

/* ------- RETINA  ------- */

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  	
	/* global wrap style */
	.searchform .sf-searchsubmit , .sidebar-searchform input[type=submit] { background-image: url('img/search_icon@2x.png'); }
	
	/* post quote style */
  	.post-quote-entry .post-quote-icon { background-image: url('img/custom/icon-quote-post@2x.png'); }
	
	/* flexslider style */
	.flexslider.alterna-fl .flex-prev { background-image:url('img/custom/icon_chevron_left@2x.png'); }
	.flexslider.alterna-fl .flex-next { background-image:url('img/custom/icon_chevron_right@2x.png'); }
	
	/* global icons style */
	.big-icon-link { background-image:url('img/custom/icon_link@2x.png'); }
	.big-icon-preview { background-image:url('img/custom/icon_preview@2x.png'); }
	.big-icon-video { background-image:url('img/custom/icon_video@2x.png'); }
	.big-icon-music { background-image:url('img/custom/icon_music@2x.png'); }
	.big-icon-picture { background-image:url('img/custom/icon_img@2x.png'); }
	.big-icon-slideshow { background-image:url('img/custom/icon_gallery@2x.png'); }
	.big-icon-file { background-image:url('img/custom/icon_file@2x.png'); }
	.big-icon-quote { background-image:url('img/custom/icon_quote@2x.png'); }
	[class^="alterna-icon-"] {background-image:url('img/socials/socials@2x.png');}
	
	/* back top button */
	#back-top {background-image:url("img/custom/icon_chevron_top@2x.png");}

}