
::-moz-selection { background:#7ab80e; color: #ffffff; text-shadow: none; }
::selection { background:#7ab80e; color: #ffffff; text-shadow: none; }

    
body {padding:0 !important;}
.logo a {
    width:227px;
    height:60px;
    margin-top:0;
    background-image:url(http://test.joe-yabuki.info/york/wordpress/wp-content/uploads/2014/04/logo1.png);
    background-size: 227px 60px;
}
.fixed-logo a {
    width:44px;
    height:44px;
    background-image:url(http://test.joe-yabuki.info/york/wordpress/wp-content/uploads/2014/04/fixed-logo1.png);
    background-size: 44px 44px;
}
 
.header-social-container {
    margin-top:14px;
    margin-right:0px;
}

header.header-fixed .header-style-4 .alterna-header-right-container {margin-top:0px;}
.header-style-2  .alterna-header-right-container,
.header-style-5  .alterna-header-right-container {margin-top:0px;}

.content-wrap {
    background-color:#ffffff;
}


#alterna-header {
    background-color:#ffffff;
}

/* page title background */
#page-header {
    background-color:#f2f5f7;
}


/* 	----------------------------------------------------------------------------------------------	
										A - CUSTOM THEME FONT																												
	----------------------------------------------------------------------------------------------	*/
    
/*    body {
    	font-family:"Source Sans Pro","Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size:14px;
    }

	h1,h2,h3,h4,h5,h6 {font-family:Open Sans,Arial,Helvetica,sans-serif;}
	
    .alterna-nav-menu li a , #alterna-nav-menu-select .nav a {
    	font-size: 13px;
       	font-family: Oswald,sans-serif;
    }
    
    .post-meta, 
    .post-meta a , 
    .comment-meta , 
    .comment-meta a ,
    .search-post-mate, 
    .search-post-mate a {font-family:Open Sans,Arial,Helvetica,sans-serif;}*/
    


@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
.logo a { background-image:url(http://test.joe-yabuki.info/york/wordpress/wp-content/uploads/2014/04/8cf909b75b346810bd92867ab90213c21.png); }
.fixed-logo a { background-image:url(http://test.joe-yabuki.info/york/wordpress/wp-content/uploads/2014/04/f847d8a3e15e5f5f60c58ddd1a4fd482.png); }
 

}