/**
	Penguin Framework

	Copyright (c) 2009-2014 ThemeFocus

	@url http://penguin.themefocus.co
	@package Penguin
	@version 4.0
**/
.penguin-meta-tabs {margin: 17px 0 0;position: relative;z-index: 1;line-height: 20px;}
.penguin-meta-tabs li {display: inline-block;margin: 0 5px 0 0;padding: 6px 12px;border: 1px solid #ddd;background: #f7f6f7;line-height: 20px;}
.penguin-meta-tabs li a { text-decoration:none; padding: 5px;}
.penguin-meta-tabs li.current {border-bottom: 1px solid #ffffff;background: #ffffff; }
.penguin-meta-tabs li.current a {color:#333;}
.penguin-meta-tabs li i {margin-right:5px;}

.penguin-meta-content {display:none;border: 1px solid #ddd;position:relative;padding: 10px;line-height: 29px;background: #ffffff;margin-top: -1px;}
.penguin-meta-content.current {display:block;}

.penguin-meta-element-content {margin-left: 205px;}

.penguin-meta-element {margin: 5px 0;display: inline-block;width: 100%;}
.penguin-meta-element-title {float: left;width: 190px;}
.penguin-meta-desc-content {font-size: 11px;line-height: 15px;color: #999;font-style: italic;display: block;}


.penguin-color-picker {display: inline-block;padding: 5px;border: 1px #ddd solid;border-radius: 3px;cursor: pointer;width: 100px;background: #f8f8f8;  background: linear-gradient(top,#f8f8f8,#eee);  background: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#eee));  background: -moz-linear-gradient(top,#f8f8f8,#eee);  background: -ms-linear-gradient(top,#f8f8f8,#eee);  background: -o-linear-gradient(top,#f8f8f8,#eee);}
.penguin-color-picker b {width: 30px;height: 16px;float: left;}
.penguin-color-picker span {line-height: 16px;margin: 0 5px;height: 16px;font-size: 12px;float: left;}

.penguin-meta-element-content select {min-width:120px;margin: 0;}
.penguin-meta-element-content textarea {width:60%;min-height: 70px;}
.penguin-radio {margin-right:10px;}

.penguin-input-button {color: #fff;border: none;padding: 4px 12px;background: #00a1b7;cursor: pointer;text-decoration: none;border-radius:3px;display: inline-block;  line-height: 20px;}
.penguin-input-button i {margin:0 3px;}

.remove-image-button,.penguin-delete-button,.remove-gallery-button {background: #d9534f;}

.penguin-input-button:hover {background: #3a3a3a;color: #fff;}
.penguin-input-button {margin-left: 5px;}

.penguin-preview-image {/* padding:5px 0; */max-width: 260px;}
.penguin-preview-image img {max-width: 90%;border:1px solid #eee; padding:5px;margin: 5px 0;}


.penguin-checkbox {height: 26px;width: 80px;
	background-image: url('../images/penguin-checkbox.png');
	background-size:120px 26px;
	background-position: -40px 0px;	background-repeat: no-repeat;overflow: hidden;cursor: pointer;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}

.penguin-checkbox.select {background-position: 0px 0px;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}

.penguin-custom-fileds,
.penguin-gallery-container {border: 1px solid #eee;padding: 10px;background: #f7f7f7;}
.penguin-custom-element,.penguin-custom-fileds-name {margin: 0 0 10px;}

.penguin-custom-element-filed,
.penguin-custom-element-filed-name,
.penguin-custom-element-filed-btn {width: 44%;margin-right: 2%;display: inline-block;line-height: 20px;font-size: 12px;}
.penguin-custom-element-filed-btn {width: 8%;margin-right:0 !important;text-align:right;}

.penguin-custom-fileds-count-3 .penguin-custom-element-filed,
.penguin-custom-fileds-count-3 .penguin-custom-element-filed-name{width: 28%;}
.penguin-custom-fileds-count-3 .penguin-custom-element-filed-btn {width: 10%;}

.penguin-custom-fileds-count-4 .penguin-custom-element-filed,
.penguin-custom-fileds-count-4 .penguin-custom-element-filed-name {width: 22%;margin-right: 1%;}

.penguin-custom-element-filed input {max-width:100%;width: 100%;}
.penguin-custom-element-filed textarea {max-width:100%;min-height:20px;}

.penguin-add-button {margin-left:0;}

.penguin-custom-element-filed-btn .penguin-delete-button {margin:0;padding: 4px;}

.penguin-custom-fileds-textarea {display:none;}

.penguin-gallery-element {background: #ffffff;padding: 5px;border: 1px solid #eee;margin: 5px 0;}
.drag-image-button {cursor: pointer;width: 30px;line-height: 26px;height: 26px;margin: 0;display: inline-block;text-align: center;}

.penguin-gallery-element .penguin-preview-image {margin-left: 30px;}
.penguin-gallery-element .upload-image-button {margin-right:5px;}

.drag-image-button:hover {color:#00a1b7;}

.penguin-meta-container input[readonly] {background-color: #f8f8f8;}

.penguin-postformat, .penguin-check {display:none;}

.penguin-meta-element-title .icon-circle-blank {font-size: 10px;color: #e0e0e0;margin: 0 3px;}

.penguin-codetype {min-height: 300px !important;}

/* ------- RETINA  ------- */

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
	.penguin-checkbox {background-image: url('../images/penguin-checkbox@2x.png');}
}