/**
	Penguin Framework

	Copyright (c) 2009-2014 ThemeFocus

	@url http://penguin.themefocus.co
	@package Penguin
	@version 4.0
**/

.update-nag { display: none; }

a, a:hover, a:focus {text-decoration:none;}
#penguin-container {margin: 20px 10px 15px 0;width: 900px;}
#penguin-container, #penguin-container textarea, #penguin-container input, #penguin-container select {font-family:Arial, Helvetica, sans-serif;font-size:12px;}

#penguin-custom-logo {float:left;margin: 0;}
#penguin-custom-logo a{float:left;}
#penguin-custom-logo h3,#penguin-custom-logo span,#penguin-logo h3,
#penguin-logo span,.penguin-page-title,.penguin-page-content-title,
.penguin-tabs .penguin-tabs-nav li a {font-family: "Open Sans",Arial, Helvetica, sans-serif;}

#penguin-custom-logo h3 {color: #000;font-size: 25px;margin: 5px 0 0;font-weight: bold;height: 25px;line-height: 25px;}
#penguin-custom-logo > div {margin-left: 60px;}
#penguin-custom-logo span {color: #000;font-size: 12px;line-height: 12px;}

#penguin-logo {float: right;margin-top: 20px;margin-right: 0px;}
#penguin-logo a{display: block;float: left;font-size:30px;color: #333;}
#penguin-logo div{margin-left:40px;}
#penguin-logo h3{margin: 3px 0;font-size: 15px;line-height: 15px;color: #333;height: 15px;}
#penguin-logo span{font-size: 10px;line-height: 12px;color: #444;text-align: right;display: block;}

#penguin-header {float: left;width:100%;}
.penguin-logo-container, .penguin-update-container {float: left;width:100%;}
.penguin-logo-container {min-height: 65px;}
.penguin-update-container {background: #294; color: #ffffff;border-bottom: 5px solid #111;border-top: 5px solid #007b23;}
.penguin-update-container > div {padding: 5px 10px;font-size: 12px;line-height: 20px;}
.penguin-update-container > div span {margin-right: 10px;font-size: 14px;height: 20px;line-height: 20px;width: 25px;}
.penguin-update-container a {color:#cc0;}

#penguin-content {background: #ffffff;width:898px;float:left;border-left: 1px #d7d7d7 solid;border-right:1px #d7d7d7 solid;border-bottom:1px #d7d7d7 solid;min-height:600px;position:relative;overflow: hidden;}
#penguin-content.show-init {border-left: 1px #222 solid;}

.penguin-bg {position: absolute;width: 189px;height: 100%;background: #262626;border-right: #262626 solid 1px;bottom: -1px;}
.penguin-over {position: absolute;width: 100%;height: 100%;background: #ffffff;z-index: 2000;text-align:center; }
.penguin-over i {font-size: 36px;margin-top: 150px;color: #ccc;}
.penguin-over h3 {color:#bbb;}

.penguin-page-title {font-size: 20px;font-weight: 700;color: #444;padding: 15px 0;margin: 0;}
.penguin-page-container {float: left;width: 686px;margin-bottom: 10px;/* background: #f6f6f6; *//* border: 1px solid #ddd; *//* -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05); */  /* box-shadow: 0 1px 2px rgba(0,0,0,.05); */}
.penguin-page-content-title {color: #555;margin: 8px 0;padding-bottom: 10px;font-size: 14px;/* text-transform: uppercase; */border-bottom: 1px solid #e4e4e4;}
.penguin-page-content-title:before{font-family: FontAwesome;font-style: normal;font-weight: normal;height: auto;line-height: normal;margin-top: 0;margin-right: 5px;text-decoration: inherit;width: auto;content: "\f013";color: #555;}
.penguin-page-content-elements {float: left;width:350px;}
.penguin-page-content-desc {display: block;font-size: 11px;font-style: italic;color: #999;line-height: 14px;}
.penguin-label, .penguin-label-radio, .penguin-label-checkbox {display: block;float: left;}
.penguin-input-text {height: 26px;float: left;min-width: 381px;}
.penguin-input-text-number {min-width:120px;}
.penguin-input-color {margin-top: 5px;height: 24px;width: 100px;float: left;}
.penguin-input-text, .penguin-textarea, .penguin-input-color {border: 1px #DFDFDF solid;border-radius: 0 !important;}
.penguin-error .penguin-input-color {border: 1px #ff0000 solid !important;}
.penguin-error-information {display:none;font-size: 10px;line-height: 32px;color: #ff0000;}
.penguin-error .penguin-error-information {display:block;}
.penguin-textarea {width: 381px;height:120px;border-radius: 0; resize: none;}
.penguin-input-text:focus, .penguin-textarea:focus {border: 1px #BBB solid;border-radius: 5px;}
.penguin-input-button {color: #fff;border: none;padding: 6px 12px;float: left;background: #00a1b7;cursor: pointer;border-radius:3px;}
.penguin-input-button i {margin:0 3px;}

.penguin-input-button:hover {background: #3a3a3a;color: #fff;}
.penguin-input-text, .penguin-input-button, .penguin-label, .penguin-input-radio, .penguin-label-radio {margin-left:0px;margin-right: 10px;margin-bottom: 0px;}

.penguin-color-picker {float: left;padding: 5px;border: 1px #ddd solid;border-radius: 3px;cursor: pointer;min-width: 100px;background: #f8f8f8;  background: linear-gradient(top,#f8f8f8,#eee);  background: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#eee));  background: -moz-linear-gradient(top,#f8f8f8,#eee);  background: -ms-linear-gradient(top,#f8f8f8,#eee);  background: -o-linear-gradient(top,#f8f8f8,#eee);}
.penguin-color-picker b {width: 30px;height: 16px;float: left;}
.penguin-color-picker span {line-height: 16px;margin: 0 5px;height: 16px;font-size: 12px;float: left;}


.upload-image-button, .remove-image-button {margin:5px 5px 5px 0;}
.remove-image-button {background:#d9534f;}
.penguin-radio {float:left;margin-right: 20px;}
.penguin-radio, .penguin-checkbox-container {line-height:26px;display:block;}
.penguin-input-radio, .penguin-input-checkbox {float: left;margin-right: 8px !important;margin-top: 6px !important;}
.penguin-page-end {border-top: 3px #eee solid;padding-top: 10px;margin:15px 0px;float: left;width: 688px;height:70px;}
.penguin-setting-back {display: block;float: left;margin-left: 350px;line-height: 26px;}
#penguin-options-save{float: right;margin-right: 0px;}
.penguin-select {border: 1px #DFDFDF solid;height: 26px !important;min-width: 120px;}

.penguin-preview-imag {float:left;}
.upload-image-input {}
.penguin-preview-image img {border: 1px #e8e8e8 solid;max-width:300px;max-height: 200px;padding: 5px;}
.penguin-update-tip {width: 520px;height: 40px;padding: 7px 0px 0px 0px;}
.penguin-setting-tip {display:none;width: 400px;height: 20px;margin-left: 285px;}

.penguin-tabs {display:block;height: 100%;width: 100%;}
.penguin-tabs .penguin-tabs-nav {display: block;width: 190px;float: left;list-style: none outside none;margin: 0px;padding: 0px;position: absolute;background: #ffffff;}

.penguin-tabs .penguin-tabs-nav li{margin:0;}
.penguin-tabs .penguin-tabs-nav li a { line-height: 22px;height: 22px;display: block;color: #fff;background: #262626;font-size: 14px;padding: 8px 15px;cursor:pointer;-webkit-transition-property: none;
-moz-transition-property: none;
transition-property: none;
-webkit-transition-duration: 0;
-moz-transition-duration: 0;
transition-duration: 0;}
.penguin-tabs .penguin-tabs-nav li a i {display: inline-block;margin-right: 10px;width: 20px;text-align: center;color: #b0b0b0;}
.penguin-tabs .penguin-tabs-nav li.light a {background: #cc0000 !important;}

.penguin-tabs .penguin-tabs-nav li a:hover{background:#000;color:#e27f2e;}
.penguin-tabs .penguin-tabs-nav li a:hover i {color:#e27f2e;}

.penguin-tabs .penguin-tabs-nav li.current a {color: #0d6e9b;background: none;cursor:auto;}
.penguin-tabs .penguin-tabs-nav li.current a i {color:#0d6e9b;}

.penguin-tabs .penguin-tabs-nav li a i.icon-caret-right {display: none;right: 0;position: absolute;color: #0d6e9b;margin-right:0px;line-height: 22px;}
.penguin-tabs .penguin-tabs-nav li a i.icon-caret-left {display: none;left: 0;position: absolute;color: #0d6e9b;margin-left:0px;line-height: 22px;}

.penguin-tabs .penguin-tabs-nav li.current a i.icon-caret-left,
.penguin-tabs .penguin-tabs-nav li.current a i.icon-caret-right {  display:inline-block;}

.penguin-tabs .penguin-tabs-container {margin-left:200px;float: left;}
.penguin-tabs .penguin-tabs-container .penguin-tabs-content{padding: 0px 10px 10px 0px;position:absolute;z-index:-1;}
.penguin-tabs .penguin-tabs-container .penguin-tabs-content.show {position:static;}

.penguin-table {float: left;width: 656px;padding: 0 12px 0 18px;/* background: #ffffff; *//* border-top: 1px solid #e4e4e4; */}

.penguin-table-tr {float:left;width:100%;margin: 5px 0;}
.penguin-table-title {float:left;width: 265px;line-height: 28px;}
.penguin-table-content {float:right;width: 381px;}
.penguin-table-content.codetype {width:100%;}

.penguin-table-tr .icon-circle-blank {margin-right: 5px;font-size: 12px;color: #ddd;}

.message {position:relative;box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);font-size: 12px;}
.message .green-success-message,.message .orange-caution-message{width:100%;float:left;}
.message .orange-caution-message {border:1px #f85b2e solid;background:#fff1ec;color:#f85b2e;margin-top: 5px;padding: 10px;margin-left: -19px;}
.message .green-success-message {border:1px #6aa100 solid;background:#e6ffd3;color:#6aa100;}
.message .green-success-message > div {padding: 7px;}
.message .green-success-message i {margin:0 10px;}
.message .message-close-button {position:absolute;right: 0;height: 20px;display: block;float: right;margin-top: 4px;margin-right: 6px;color: #777;cursor:pointer;font-size: 14px;}

.penguin-import-options textarea {width:100%;}
.penguin-btn-save {padding: 8px 12px;}
.penguin-btn-save-top {position: absolute;right: 9px;top: 10px;}

.penguin-checkbox {height: 26px;width: 80px;
	background-image: url('../images/penguin-checkbox.png');
	background-size:120px 26px;
	background-position: -40px 0px;	background-repeat: no-repeat;overflow: hidden;cursor: pointer;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}

.penguin-checkbox.select {background-position: 0px 0px;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}

.CodeMirror {border: 1px solid #ddd;}

.colorpicker input {height: 15px;}

.penguin-tabs-content input[readonly], .penguin-tabs-content input[readonly]:select {
	background-color: #f8f8f8;
}

#penguin-options-save-top {top: 7px;right: 10px;margin: 0;position: absolute;}

.penguin-drag-container {padding: 8px;background: #f7f7f7;border: 1px solid #e8e8e8;}
.penguin-drag-elements {margin:0;}
.penguin-drag-element {width: 340px;border: 1px solid #eee;padding: 5px 10px;margin: 0 0 5px 0;display: inline-block;position:relative;background: #ffffff;}
.penguin-drag-element:last-child{margin-bottom:0;}
.penguin-drag-content {width: 310px;float: left;padding-left: 30px;margin-bottom: 5px;}
.penguin-drag-btn {width: 18px;text-align: center;cursor: pointer;margin-right: 10px;position: absolute;}
.penguin-drag-btn:hover {color:#00a1b7;}
.penguin-drag-check {float: left;border: 1px solid #dfdfdf;width: 14px;text-align: center;cursor: pointer;margin-right: 5px;height: 14px;}
.penguin-drag-check i {display:none;color: #dd0000;line-height: 14px;}
.penguin-drag-check.show i {display: block;}
.penguin-drag-check-position {float: left;margin-left: 30px;display: inline-block;}


.penguin-image-radio  {float: left;	margin: 3px;border: 2px solid #e8e8e8;padding: 3px;text-align: center;cursor: pointer;}
.penguin-image-radio.selected {border:2px solid #00a1b7}
.penguin-image-radio h5 {margin: 5px 0 0;font-weight: 400;}


/* ------- RETINA  ------- */

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
	.penguin-checkbox {background-image: url('../images/penguin-checkbox@2x.png');}
}