/**
	Penguin Framework

	Copyright (c) 2009-2014 ThemeFocus

	@url http://penguin.themefocus.co
	@package Penguin
	@version 4.0
**/

.penguin-megamenu {padding: 10px;margin-left: -10px;margin-top: -10px;background: #eee;border-bottom: 1px solid #bbb;}
.penguin-megamenu-title {color: #333;margin: 0 0 10px;}

.penguin-megamenu-handle,
.penguin-megamenu-handle-sub {font-size: 12px;margin-right: 10px;float: left;line-height: 20px;background: #cb1117;padding: 0 5px;border-radius: 3px;color: #ffffff;}

.penguin-megamenu-handle-sub {background:#dbd925;}
.menu-item-depth-1 .penguin-megamenu-handle-sub {background:#8130dd;}
.menu-item-depth-2 .penguin-megamenu-handle-sub {background:#04caa2;}
.menu-item-depth-3 .penguin-megamenu-handle-sub {background:#15a7d1;}

.penguin-megamenu-handle i {margin-right:5px;font-size:14px;}

.penguin-megamenu-megaimgenable .description {display:block;}

.penguin-megamenu,
.penguin-megamenu-enable,
.penguin-megamenu-direction,
.penguin-megamenu-handle,
.penguin-megamenu-handle-sub,
.penguin-megamenu-megashorttitle,
.penguin-megamenu-megadescription,
.penguin-megamenu-megaimgenable,
.penguin-megamenu-megaimglink,
.penguin-megamenu-megaimage,
.penguin-megamenu-wideenable {display:none;}

.menu-item-depth-0 .penguin-megamenu,
.menu-item-depth-0 .penguin-megamenu-enable,
.megamenu-enabled.menu-item-depth-0 .penguin-megamenu-handle,
.megamenu-enabled.menu-item-depth-0 .penguin-megamenu-direction,
.megamenu-enabled.menu-item-depth-0 .penguin-megamenu-wideenable {display:block;}

.sub-megamenu-enabled .penguin-megamenu,
.sub-megamenu-enabled .penguin-megamenu-handle-sub,
.sub-megamenu-enabled .penguin-megamenu-megashorttitle,
.sub-megamenu-enabled .penguin-megamenu-megadescription,
.sub-megamenu-enabled .penguin-megamenu-megaimgenable,
.sub-megamenu-enabled .penguin-megamenu-megaimglink,
.sub-megamenu-enabled .penguin-megamenu-megaimage {display:block;}

